/*公用样式*/
body{
    font:12px "microsoft yahei",Arial,Helvetica,sans-serif;
    color:#333;
    margin:0;
    padding:0;
}
*{
    box-sizing:border-box;
}
ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
    list-style:none;
    margin:0;
    padding:0;
}
a{
    color:#333;
    text-decoration:none;
}
img{
    border:0;
}
a:hover{
    color:#ff6600;
}

/*关于长亭样式*/
.top_banner{
    width:100%;
}
.top_banner>img{
    width:100%;
}
#act_main{
    width:100%;
}
/*三个通用标题样式*/
#act_main .aboutUs{
    width:1190px;
    margin:0 auto;
    padding-top:30px;
}
#act_main>div>h2{
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/about/h2_bg.png") no-repeat;
    width:187px;
    height:76px;
    margin:0 auto;
    margin-bottom:20px;
}
#act_main>div>h2 b{
    float:left;
    width:100%;
    text-align:center;
    color:#ffa800;
    font-size:30px;
    margin-top:8px;
}
#act_main>div>h2 span{
    float:left;
    width:100%;
    text-align:center;
    color:#cacaca;
    font-weight:normal;
    font-size:17px;
}
#act_main .aboutUs p{
    width:100%;
    text-align:center;
    line-height:30px;
    color:#333;
    font-size:15px;
}
#act_main .aboutUs ul{
    width:100%;
    overflow:hidden;
    margin-top:20px;
}
#act_main .aboutUs ul li{
    float:left;
    margin-right:40px;
    margin-bottom:40px;
}
#act_main .aboutUs ul li.li_3,#act_main .aboutUs ul li.li_6{
    margin-right:0;
}
.serviceTenet{
    width:100%;
    background:#F5F5F5;
    padding-top:60px;
    position:relative;
}
.serviceTenet>b{
    float:left;
    border:20px solid transparent;
    border-top-color:#fff;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-20px;
}
.serviceTenet .content{
    overflow:hidden;
    width:1190px;
    margin:0 auto;
    margin-top:40px;
    padding-bottom:40px;
}
.serviceTenet .content ul.txt{
    width:1045px;
    height:295px;
    margin:0 auto;
    margin-bottom:40px;
}
.serviceTenet ul.txt>li{
    float:left;
    width:475px;
    height:295px;
    background:#1B64DC;
    color:#fff;
    position:relative;
}
.serviceTenet ul.txt>li.shiming{
    float:right;
}
.serviceTenet ul.txt>li h2{
    width:78px;
    height:56px;
    margin:0 auto;
    font-size:35px;
    font-weight:normal;
    border-bottom:5px solid #fff;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}
.serviceTenet ul.txt>li>p{
    width:100%;
    padding:0 60px;
    line-height:56px;
    font-size:29px;
}
.serviceTenet ul.txt>li>p span{
    font-size:40px;
}
.serviceTenet ul.txt>li>p.last{
    text-align:right;
}
.serviceTenet ul.txt>li b.b1{
    float:left;
    width:52px;
    height:56px;
    border-top:2px solid #fff;
    border-left:2px solid #fff;
    position:absolute;
    top:86px;left:36px;
}
.serviceTenet ul.txt>li b.b2{
    float:left;
    width:52px;
    height:56px;
    border-right:2px solid #fff;
    border-bottom:2px solid #fff;
    position:absolute;
    bottom:10px;right:36px;
}
.serviceTenet .content>img{
    width:1190px;
    margin-bottom:55px;
}
.serviceTenet .content .service_ul{
    width:1190px;
    overflow:hidden;
}
.serviceTenet .content .service_ul li{
    float: left;
    width: 275px;
    height: 350px;
    background: #E0E0E0;
    padding:20px 36px 0 36px;
    margin-left:30px;
}
.serviceTenet .content .service_ul li:first-child{
    margin-left:0;
}
.serviceTenet .content .service_ul li p{
    width:120px;
    height:120px;
    background:#248BFF;
    text-align:center;
    line-height:120px;
    color:#fff;
    border-radius:50%;
    margin:0 auto;
    font-size:72px;
}
.serviceTenet .content .service_ul li h1{
    text-align:center;
    color:#248bff;
    font-size:24px;
    margin-top:20px;
    margin-bottom:10px;
}
.serviceTenet .content .service_ul li span{
    font-size:15px;
    color:#333;
    line-height:28px;
}
#act_main .company{
    padding-top:60px;
    position:relative;
    height:1176px;
}
#act_main .company>h2>span{
    font-size:16px;
    padding-left:9px;
}
#act_main .company>b{
    float:left;
    border:20px solid transparent;
    border-top-color:#F5F5F5;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-20px;
}
#act_main .company .content{
    float:left;
    width:1190px;
    position:absolute;
    top:176px;
    left:50%;
    margin-left:-595px;
    height:1000px;
    z-index:100;
}
#act_main .company .content>p{
    font-size:28px;
    color:#FF3600;
    border-bottom:3px solid #ff3600;
    width:90px;
    margin:0 auto;
    text-align:center;
    padding-bottom:3px;
}
#act_main .company .content>ul{
    width:100%;
    overflow:hidden;
    margin-top:40px;
}
#act_main .company .content>ul li{
    float:left;
    width:360px;
    height:240px;
    text-align:center;
    margin-left:55px;
    color:#fff;
}
#act_main .company .content>ul li h1{
    font-size:54px;
    margin-top:20px;
}
#act_main .company .content>ul li span{
    font-size:24px;
    line-height:60px;
}
#act_main .company .content>ul li p{
    font-size:42px;
}
#act_main .company .content>ul li.li_1{background:#1D7EEB;margin-left:0;}
#act_main .company .content>ul li.li_2{background:#FF5021;}
#act_main .company .content>ul li.li_3{background:#FF9418;}
#act_main .company .content>p.p2{
    color:#1D7EEB;
    border-bottom:3px solid #1D7EEB;
    width:170px;
    margin-top:35px;
    margin-bottom:35px;
}
#act_main .company .content>div.embed{
    width:914px;
    height:515px;
    margin:0 auto;
}
#act_main .company .content>div>embed{
    width:914px;
    height:515px;
}
#act_main .company>img{
    float:left;
    position:absolute;
    bottom:0;
    z-index:20;
}
#act_main .company>img.img1{
    right:0;
    width:300px;
}
#act_main .honor{
    width:100%;
    background:#f5f5f5;
    overflow:hidden;
    position:relative;
    padding:60px 0 0 40px;
}
#act_main .honor>b{
    float:left;
    border:20px solid transparent;
    border-top-color:#fff;
    position:absolute;
    top:0;
    left:50%;
}
#act_main .honor>ul{
    width:1190px;
    overflow:hidden;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:30px;
}
#act_main .honor>ul li{
    float:left;
    margin-left:67px;
    margin-bottom:30px;
}
#act_main .honor>ul li.li_1,#act_main .honor>ul li.li_4{
    margin-left:0;
}
.act_fixed{
    float:right;
    position:fixed;
    top:50%;
    right:0;
    width:50px;
    height:50px;
    background:#666666;
    padding:12px 0 0 13px;
    z-index:50;
}

/*联系我们样式*/
.contactUs{
    width:1190px;
    margin:0 auto;
    padding-top:30px;
}
.contactUs>h2{
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/about/h2_bg.png") no-repeat;
    width:187px;
    height:76px;
    margin:0 auto;
    margin-bottom:20px;
}
.contactUs>h2 b{
    float:left;
    width:100%;
    text-align:center;
    color:#ffa800;
    font-size:30px;
    margin-top:8px;
}
.contactUs>h2 span{
    float:left;
    width:100%;
    text-align:center;
    color:#cacaca;
    font-weight:normal;
    font-size:17px;
}
.contactUs .content{
    width:90%;
    overflow:hidden;
    margin:0 auto;
    border-top:1px solid #333;
    margin-top:30px;
    color:#333;
    padding-bottom:30px;
}
.contactUs .content>h1{
    font-weight:normal;
    font-size:29px;
    margin-top:20px;
    margin-bottom:5px;
    padding-left:170px;
}
.contactUs .content>p{
    font-size:16px;
    line-height:40px;
}
.contactUs .content>div{
    float:left;
    font-size:16px;
    margin-left:200px;
    margin-bottom:20px;
}
.contactUs .content>div p{
    line-height:28px;
}
.contactUs .content>div>p:first-child{
    margin-bottom:10px;
}
.contactUs .content>div.div_3>p{
    width:232px;
    text-align:center;
    font-size:16px;
}
.contactUs .content>div.div_3>div p{
    line-height:20px;
    font-size:18px;
    margin-bottom:5px;
}
.contactUs .content>div.div_3 ul{
    list-style:disc;
    font-size:14px;
    padding-left:19px;
}
.contactUs .content>div.div_3>div{
    float:left;
    border-right:1px solid #333;
    padding-right:20px;
    margin-right:20px;
}
.contactUs .content>ul{
    width:100%;
    margin:0 auto;
    margin-top:30px;
    overflow:hidden;
    border-top:1px solid #333;
}
.contactUs .content>ul li{
    float:left;
    margin-left:170px;
    padding-top:10px;
}
.contactUs .content>ul li h1{
    font-weight:normal;
    font-size:29px;
    margin-bottom:6px;
}
.contactUs .content>ul li p{
    font-size:16px;
    line-height:28px;
    padding-left:32px;
}
.contactUs .content>ul li.li_2{
    margin-left:60px;
}

#container{
	float:none;
	width:700px;
	height:500px;
	margin:0 auto;
	margin-top:20px;
	border:1px solid #ddd;
	position:relative;
}
p.myMap{
	width:700px;
	margin:0 auto;
	text-align:center;
}
.myclass{
	font-size:15px;
	width:330px;
}
.myclass img{
	height:100px;
}
.myclass span{
	font-size:17px;
	font-weight:bold;
	margin-bottom:6px;
}

/*加入我们样式*/
.joinUs{
    width:1190px;
    margin:0 auto;
    padding-top:30px;
}
.joinUs>h2{
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/about/h2_bg.png") no-repeat;
    width:187px;
    height:76px;
    margin:0 auto;
    margin-bottom:20px;
}
.joinUs>h2>b{
    float:left;
    width:100%;
    text-align:center;
    color:#ffa800;
    font-size:30px;
    margin-top:8px;
}
.joinUs>h2>span{
    float:left;
    width:100%;
    text-align:center;
    color:#cacaca;
    font-weight:normal;
    font-size:17px;
}
.joinUs .content{
    width:1190px;
    height:auto;
    overflow:hidden;
    margin:0 auto;
}
.joinUs .content .headline{
    width:90%;
    margin:0 auto;
    height:80px;
    font-size:34px;
    line-height:80px;
    background:#F5F5F5;
    padding-left:30px;
}
.joinUs .content .headline span{
    float:right;
    width:240px;
    text-align:center;
    height:50px;
    line-height:50px;
    background:#FFA800;
    color:#fff;
    border-radius:10px;
    margin:15px 30px 0 10px;
}
.joinUs .content ul.rsty{
    width:90%;
    margin:0 auto;
}
.joinUs .content ul.rsty li{
    width:100%;
    height:auto;
    border-bottom:1px solid #999999;
    position:relative;
    overflow:hidden;
}
.joinUs .content ul.rsty li .post{
    width:174px;
    height:174px;
    border-radius:50%;
    background:#FFA800;
    color:#fff;
    text-align:center;
    font-size:22px;
    position:absolute;
    top:50%;left:20px;
    margin-top:-87px;
}
.joinUs .content ul.rsty li .post>p{
    width:100%;
    height:70px;
    position:absolute;
    top:50%;left:50%;
    margin-top:-50px;
    margin-left:-87px;
    line-height:40px;
}
.joinUs .content ul.rsty li .demand{
    float:left;
    margin-left:220px;
    padding-bottom:15px;
}
.joinUs .content ul.rsty li .demand h3{
    width:82px;
    height:28px;
    padding-left:7px;
    background:#FFA800;
    color:#fff;
    font-size:15px;
    line-height:28px;
    font-weight:normal;
    border-radius:5px;
    margin:18px 0 8px 0;
}
.joinUs .content ul.rsty li .demand p{
    padding-left:20px;
    line-height:20px;
}
.joinUs .content ul.rsty li:last-child{
    border-bottom:0;
}