body{
    font:12px "microsoft yahei",Arial,Helvetica,sans-serif;
    color:#333;
    margin:0;
    padding:0;
}
*{
    box-sizing:border-box;
}
ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
    list-style:none;
    margin:0;
    padding:0;
}
a{
    color:#333;
    text-decoration:none;
}
img{
    border:0;
}
a:hover{
    color:#ff6600;
}
div.s_content{
	display:none;
}
div.nav{
	display:none;
}
.banner img{
	min-width:1380px;
	width:100%;
	vertical-align:text-bottom;
}

.activety{
	width:100%;
	min-width:1380px;
	background:#64104C;
	vertical-align:bottom;
	padding-bottom:70px;
}
.activety .content{
	width:1380px;
	height:auto;
	margin:0 auto;
	background: #64104C;
}
.activety .content>p{
	margin:0 0 70px;
	padding-top:40px;
}
.activety .content>p a{
	margin-left:100px;
}
.activety .content .div1{
	width:100%;
	height:1280px;
	border:8px solid #FDBD04;
	border-radius:30px;
	position:relative;
}
.activety .content .div1>h1{
	background:#64104C;
	float:left;
	padding:0 50px;
	position:absolute;
	top:-45px;left:50%;
	margin-left:-376px;
}
.activety .content .div1>h1 img{
	width:700px;
}
.activety .content .div1>h1>b{
	float:left;
	position:absolute;
	width:24px;
	height:24px;
	border:8px solid #FDBD04;
	border-radius:50%;
	top:50%;left:-1px;
	margin-top:-12px;
}
.activety .content .div1 .bg{
	position:relative;
	margin:100px 0 0 40px;
}
.activety .content .div1 .bg>img{
	width:650px;
	position:absolute;
	z-index:10;
}
.activety .content .div1 .bg>b{
	float:left;
	position:absolute;
	bottom:-672px;left:144px;
	z-index:5;
}
.activety .content .div1 .bg>b img{
	width:350px;
}
.activety .content .div1>.p1{
	position:absolute;
	bottom:444px;
	left:285px;
	color:#EBD870;
	font-size:18px;
}
.activety .content .div1>.p1 span{
	color:#FD6501;
	font-size:24px;
	font-weight:bold;
}
.activety .content .div1 .tran{
	position:absolute;
	width:650px;
	height:650px;
	background:transparent;
	top:100px;
	left:40px;
	z-index:50;
}
.activety .content .div1 .tran>button{
	float:left;
	position:absolute;
	width:200px;
	height:260px;
	background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/2017/huodong/start1.png") no-repeat;
	top:50%;
	left:50%;
	margin-top:-150px;
	margin-left:-100px;
	cursor:pointer;
	border:0;
	background-size:200px;
}
.activety .content .div1 .tran>button:hover{
	background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/2017/huodong/start2.png") no-repeat;
    background-size:200px;
}
.activety .content .div1 .txt{
	float:right;
	width:570px;
	height:515px;
	background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/2017/huodong/rule.png") no-repeat;
	background-size:570px;
	margin:75px 50px 0 0;
	padding:0 35px 0 20px;
}
.activety .content .div1 .txt>h3{
	color:#FAEDE7;
	margin:20px 0 10px 0;
	font-size:19px;
}
.activety .content .div1 .txt>p{
	color:#FAEDE7;
	margin:10px 0;
	font-size:16px;
}
.activety .content .div1 .txt>p.last_p{
	width:98%;
	height:72px;
	background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/2017/huodong/wzk.png") no-repeat;
    background-size:98%;
    margin-top:20px;
    margin-left:20px;
    padding-left:15px;
}
.activety .content .div1 .txt>p.last_p span{
	font-size:38px;
    color:#EBD870;
    line-height:72px;
}
.activety .content .div1 .txt>p.last_p b{
	font-weight:bold;
	font-size:42px;
	line-height:72px;
	color:#FD6501;
}
.activety .content .div1 .bulletin{
	width:95%;
	height:353px;
	background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/2017/huodong/list.png") no-repeat;
	background-size:100%;
	position:absolute;
	bottom:70px;
	left:34px;
}
.activety .content .div1 .bulletin>div{
	float:left;
	width:49%;
	height:353px;
	position:relative;
}
.activety .content .div1 .bulletin>div h3{
	color:#F9E9E3;
	font-size:30px;
	position:absolute;
	top:15px;
	left:50%;
	margin-left:-90px;
}
.activety .content .div1 .bulletin .record>p{
	width:86%;
	margin:0 auto;
	height:36px;
    background:#AA5692;
    color:#4A0B36;
    margin-top:60px;
}
.activety .content .div1 .bulletin .record ul{
	width:86%;
	height:240px;
	margin:0 auto;
	overflow:hidden;
}
.activety .content .div1 .bulletin .record ul li{
	height:30px;
	width:100%;
	line-height:30px;
	color:#925584;
	font-size:16px;
}
.activety .content .div1 .bulletin .record ul li span{
	float:left;
	width:50%;
	text-align:center;
}
.activety .content .div1 .bulletin .record>p span{
	font-size:18px;
	line-height:36px;
	margin:0 100px;
}
.activety .content .div1 .bulletin .list{
	margin-left:25px;
}
.activety .content .div1 .bulletin .list>div{
	width:100%;
	height:276px;
	margin-top:70px;
	position:relative;
	overflow:hidden;
}
.activety .content .div1 .bulletin .list ul{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:auto;
}
.activety .content .div1 .bulletin .list ul li{
	width:100%;
	height:30px;
}
.activety .content .div1 .bulletin .list ul li span{
	float:left;
	width:33.3%;
	color:#995584;
	font-size:16px;
	line-height:30px;
	text-align:center;
}
.activety .content .div1 .bulletin .list ul li span.s2{
}
.activety .content .div2{
	width:100%;
	height:750px;
	border:8px solid #FDBD04;
	border-radius:30px;
	position:relative;
}
.activety .content .div2>h1{
	background:#64104C;
	float:left;
	padding:0 50px;
	position:absolute;
	top:-45px;left:50%;
	margin-left:-376px;
	
}
.activety .content .div2>h1 img{
	width:700px;
}
.activety .content .div2>h1>b{
	float:left;
	position:absolute;
	width:24px;
	height:24px;
	border:8px solid #FDBD04;
	border-radius:50%;
	top:50%;right:-2px;
	margin-top:-12px;
}
.activety .content .div2 .txt{
	float:left;
	width:570px;
	height:388px;
	background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/2017/huodong/ARrule.png") no-repeat;
	background-size:570px;
	margin:120px 0 0 40px;
	padding:0 20px;
}
.activety .content .div2 .txt h3{
	color:#FAEDE7;
	margin:20px 0 10px 0;
	font-size:19px;
}
.activety .content .div2 .txt>p{
	color:#FAEDE7;
	margin:20px 0;
	font-size:16px;
}
.activety .content .div2 .txt>p.last_p{
	width:98%;
	height:74px;
	background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/2017/huodong/wzk.png") no-repeat;
    background-size:98%;
    margin-top:35px;
    margin-left:20px;
    padding-left:15px;
}
.activety .content .div2 .txt>p.last_p span{
	font-size:32px;
    color:#EBD870;
    line-height:72px;
}
.activety .content .div2 .txt>p.last_p b{
	font-weight:bold;
	font-size:36px;
	line-height:72px;
	color:#FD6501;
}
.activety .content .div2 .phone{
	float:right;
	margin:95px 170px 0 0;
}
.activety .content .div2 .phone img{
	width:290px;
}
.activety .content .div2 .site{
	position:absolute;
	bottom:50px;
	left:40px;
}
.activety .content .div2 .site p{
	font-size:46px;
	color:#EAEBCD;
}
/*遮挡物*/
.activety .content .div1>.span1{
	float:right;
	position:absolute;
	right:-10px;
	top:-10px;
	width:280px;
	height:50px;
	background:#64104C;
}
.activety .content .div1>.span2{
	float:right;
	position:absolute;
	width:20px;
	height:1280px;
	background:#64104C;
	right:-10px;
	top:10px;
}
.activety .content .div1>.span3{
	float:right;
	position:absolute;
	width:260px;
	height:20px;
	background:#64104C;
	right:0px;
	bottom:-8px;
}
.activety .content .div2>.span1{
	float:left;
	position:absolute;
	left:-10px;
	top:-8px;
	width:330px;
	height:40px;
	background:#64104C;
}
.activety .content .div2>.span2{
	float:left;
	position:absolute;
	width:20px;
	height:560px;
	background:#64104C;
	left:-10px;
	top:30px;
}
.activety .content .div1>b{
	float:left;
	position:absolute;
	width:24px;
	height:24px;
	border:8px solid #FDBD04;
	border-radius:50%;
	bottom:-15px;left:305px;
	z-index:300;
}
.activety .content .div2>b{
	float:left;
	position:absolute;
	width:24px;
	height:24px;
	border:8px solid #FDBD04;
	border-radius:50%;
	top:567px;left:-16px;
}
/*弹出层*/
.tanchu{
	width:100%;
	height:100%;
	position:fixed;
	top:0;left:0;
	background:rgba(0,0,0,0.5);
	z-index:500;
	display:none;
}
.tanchu .details{
	float:left;
	position:absolute;
	bottom:70%;
	left:50%;
	margin-left:-301px;
	width:602px;
}
.tanchu .details>p{
	width:602px;
	height:120px;
	background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/2017/huodong/head.png") no-repeat;
    text-align:center;
    line-height:100px;
    position:relative;
}
.tanchu .details>p span{
	color:#fff;
	font-size:40px;
	font-weight:bold;
}
.tanchu .details>p .close{
	float:left;
	width:44px;
	height:44px;
	background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/2017/huodong/close.png") no-repeat;
    cursor:pointer;
    position:absolute;
    top:50%;right:55px;
    margin-top:-32px;
}
.tanchu .details>div{
	width:500px;
	height:auto;
	background:#F5F5F3;
	position:absolute;
	top:109px;
	left:50%;
	margin-left:-250px;
	padding-bottom:20px;
	border-radius:0 0 10px 10px;
}
.tanchu .details>div>p{
	width:100%;
	margin-top:15px;
	text-align:center;
	color:#FF5236;
	font-size:22px;
	font-weight:bold;
}
.tanchu .details>div>div{
	width:170px;
	height:170px;
	background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/2017/huodong/ewm.png") no-repeat;
    margin:15px auto;
}
.tanchu .details>div>h1{
	width:360px;
	height:75px;
	background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/2017/huodong/djm.png") no-repeat;
	color:#FF6536;
	text-align:center;
	font-size:22px;
	font-weight:normal;
	margin-left:70px;
	line-height:71px;
}



