﻿
.baozhang { width: 100%; height: 85px; background: #f5f5f5; border-bottom: 1px solid #d1d7dc; border-top: 1px solid #d1d7dc; float:left;}
.baozhang .ant_all { width: 1190px; margin: 0 auto; }
.baozhang ul.baozhang_ant { width:1020px; height:65px; padding-left:170px; }
.baozhang ul.baozhang_ant li { width:260px; float:left;height: 85px; line-height:85px; font-size:14px; color:#666; padding-left:65px;}
.baozhang ul.baozhang_ant li.ct_bz_1 { background: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/ct_bz_1.png) no-repeat left center;}
.baozhang ul.baozhang_ant li.ct_bz_2 { background: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/ct_bz_2.png) no-repeat left center;}
.baozhang ul.baozhang_ant li.ct_bz_3 { background: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/ct_bz_3.png) no-repeat left center;}

.ant_all { width: 1190px; margin: 0 auto; }
.footer { width: 100%; padding-top:25px; background-color:#4f4f4f; padding-top:25px; float:left;}
.footer dl.erweima_a { float:left; width:118px; color:#666; font-size:12px; text-align:center; background:#f4f4f4; padding:8px; margin:0 20px 0 43px; display:inline;}
.footer dl.erweima_a dt { float:left; width:112px; border-bottom:1px solid #fdfdfd; padding:3px; background:#fff; }
.footer dl.erweima_a dt img { float:left; width:112px; height:112px; }
.footer dl.erweima_a dd { float:left; width:118px; text-align:center; background:#fff; line-height:28px; height:28px; }
.footer .dizhi_a { float:left; width:380px; float:right; height:165px; font-size:12px; background: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/footer_er.jpg) no-repeat left center;  }
.footer .dizhi_a .dianhua_a { float:left; width:380px; float:right; font-size:16px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/tel_hui.gif) no-repeat left center; padding-left:35px; height:35px; line-height:35px;}
.footer .dizhi_a .dianhua_a p span { font-size:18px; color:#da082f; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.footer .dizhi_a .zdizhi_a { float:left; width:380px; float:right; font-size:12px; color:#ccc; padding-top:20px;}
.footer .dizhi_a .zdizhi_a p { line-height:28px;}
.footer .dizhi_a .zdizhi_a p span { font-size:14px; color:#da082f; font-family:Arial, Helvetica, sans-serif;}
.footer .dizhi_a .xinxi_a { float:left; width:380px; float:right; font-size:12px; color:#ccc; margin-top:20px; background:#6f6f6f;}
.footer .dizhi_a .xinxi_a p { height:24px; line-height:24px; padding-left:10px;}

.footer .fuwu_list{ width:780px;float:left; margin-bottom:20px; display:inline;border-left:1px solid #595959;}
.footer .fuwu_list dl.fuwe_5 { width:100px; float:left; font-size:12px; display:inline; border-right:1px solid #595959; margin-left:10px; height:160px; padding-top:10px; }
.footer .fuwu_list dl.fuwe_5 dt { width:90px; letter-spacing:1px; border-left:2px solid #b5b5b5; height:15px; line-height:15px; padding-left:10px; float:left; font-size:12px; font-weight:bold; color:#ddd; margin-bottom:8px;}
.footer .fuwu_list dl.fuwe_5 dd { width:90px; padding-left:5px; font-size:12px; height:20px; line-height:20px; float:left; margin-top:8px; }
.footer .fuwu_list dl.fuwe_5 dd a { font-size:12px; color:#aaa; padding:3px 7px;}
.footer .fuwu_list dl.fuwe_5 dd a:hover { font-size:12px; color:#ddd; background:#333; border-radius:50px; }
.footer .fuwu_list dl.fuwe_5 dd.xuan a { font-size:12px; color:#c4c4c4; background:#5e5e5e; border-radius:50px;  }
.footer .fuwu_list dl.fuwe_5 dd.xuan a:hover { font-size:12px; color:#ccc; background:#333; border-radius:50px; }
.footer .bot_zhu { width:100%; background:#a3a3a3; height:31px; line-height:31px; color:#efefef; float:left;}
.bot_zhu .zdizhi_a { float:left;}
.bot_zhu .xinxi_a { float:right; }
.footer .bot_jing { color:#efefef; background:#fff; width:100%;float:left; text-align:center; padding:5px 0 15px 0; }
.footer .bot_jing img { margin:0 8px;}
.footer .bot_jing a { height:50px}
.footer_go { width:240px; color:#aaa; float:right; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/footer_go.jpg) no-repeat left bottom; padding-bottom:85px; padding-top:10px;}
.footer_go li { height:24px;}
.footer .ct_banquan { width:100%; float:left;border-top:2px solid #595959; background:#fff; text-align:center;color:#636363; padding:15px 0 5px 0; font-size:10px;}
.footer_go a { color:#ddd; text-decoration: underline;}
.footer_go a:hover { color:#f60; text-decoration: underline;}
/*改版*/