﻿/*长亭易购 */
* {margin:0;padding:0;border:0; font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol,ul,li,dd,dt,dl{list-style:none;margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
i { font-style:normal; }
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.vertical-mid{	vertical-align:middle;}/* vertical align middle */
.vertical-bot{	vertical-align:bottom;}/* vertical align bottom */
/*弹出层的STYLE*/
.mydivallfk {
background-color: #fff;
border: 3px solid #ccc;
text-align: left;
font-size: 12px;
z-index:399;
width: 500px;

padding:0 10px 20px 10px;
left:44%;/*FF IE7*/
top: 30%;/*FF IE7*/
margin-left:-150px!important;/*FF IE7 该值为本身宽的一半 */
margin-top:-60px!important;/*FF IE7 该值为本身高的一半*/
margin-top:0px;
position:fixed!important;/*FF IE7*/
position:absolute;/*IE6*/
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}
.fk_t { float:left; width:100%; border-bottom:1px solid #d7d7d7; padding:0; height:35px; line-height:34px;}
.fk_t span { float:left; padding-left:10px; font-weight:bold; font-size:14px;}
.fk_t a { font-weight:normal; height:15px; widows:15px; padding:10px; display:block; float:right; }

.fk_b { float:left; width:100%; }
.fk_b ul { float:left; width:400px; padding:0 50px; }
.fk_b ul li { float:left; width:400px; margin-top:10px; }
.fk_b ul li span { float:left; width:70px; display:block; text-align:right; }
.fk_b ul li input { float:right; width:290px; padding:0 5px; display:block; border:1px solid #d7d7d7; margin-right:15px; display:inline; height:25px; line-height:25px; }
.fk_b ul li textarea { float:right; width:290px; padding:0 5px; display:block; height:70px; border:1px solid #d7d7d7; margin-right:15px; display:inline; }
.fk_b ul li a { width:120px; background:#ddd; float:left; display:block; color:#333; height:27px; line-height:27px;border-radius:250px; text-align: center; font-weight:bold; margin-left:160px; }
.fk_b ul li a:hover { width:120px; background:#da082f; float:left; display:block; color:#fff; height:27px; line-height:27px;border-radius:250px; text-align: center;}
.fk_b { float:left; width:100%; }
body{ font-family: 'Microsoft YaHei';min-width:1190px;}
.contentcenter { margin:0 auto; width:1190px; }
/* jg_banner */
.toper {width:100%; height:49px; background:#f7f7f7; border-bottom:1px solid #cfcfcf; line-height:49px; }
.toperleft { float:left; }
.toperleft dd { float:left; font-size: 0.9em;}
.toperleft dd span { color:#636363; margin:0 0px 0 0;}
.toperleft dd a { color:#636363; margin:0 5px; }
.toperleft dd a.qdl { color:#ff460c; border-radius: 999px; padding:0 10px; 
-webkit-transition: background .5s ease-in-out ;
-moz-transition: background .5s ease-in-out ;
transition: background .5s ease-in-out;
}
.scl { position: absolute; top:96px; left:0px; z-index: 999999; }
.scr { position: absolute; top:96px; right:0px; z-index: 999999;}


.ad_top { width:100%; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/1year/ads_bg.jpg) repeat-x center top; height:80px;}
.ad_top a { width:1190px; height:80px; display:block;}

.toperleft dd a.qdl:hover { color:#fff; background:#ff460c; border-radius: 999px;}
.toperleft dd a.mfzc { color:#636363; border-left:1px solid #ccc; padding:0 18px;
-webkit-transition: background .5s ease-in-out ;
-moz-transition: background .5s ease-in-out ;
transition: background .5s ease-in-out;
}
.toperleft dd a.mfzc:hover { color:#ff460c; border-left:1px solid #ccc;}

.toper dl.toperright { width:432px; float:right; height:49px; line-height:49px; z-index:9999; }
.toper dl.toperright dd.lianxlie { float:left; text-align:right; width:100%; }
.toper dl.toperright dd.lianxlie a { color:#666; display:block; float:left; padding-left:0px; font-size:0.9em;}
.toper dl.toperright dd.lianxlie a:hover { color:#ff460c; display:block; float:left; padding-left:0px;}

.toper dl.toperright dd.lianxdh { width: 166px; float: right; height: 49px; line-height: 49px; }
.toper dl.toperright dd.lianxdh a { color:#666; display:block; height:18px; line-height:18px; margin-top:7px; padding-left:10px; padding-right:12px; float:left;}
.toper dl.toperright dd.lianxdh a:hover { color:#da082f; display:block; height:18px; line-height:18px; margin-top:7px; padding-left:10px; padding-right:12px; float:left;}
.toper dl.toperright dd img { float: right; margin: 5px 0 0 0;}

.show_ct { position:relative; width:100px; border:1px solid #f7f7f7; border-top:0; border-bottom:0; height:49px; line-height:49px; text-align:center; float:left; z-index:888; margin:0 0 0 8px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/xxcd2.png) no-repeat 80px center; _z-index:999 !important;
-webkit-transition: background .5s ease-in-out ;
-moz-transition: background .5s ease-in-out ;
transition: background .5s ease-in-out;
}
.show_ct:hover {background:#FFF url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/xxcd.png) no-repeat 80px center; border:1px solid #dddddd; border-bottom:0; border-top:0; height:49px; width:100px; padding:0; z-index:999; }
.show_ct a.add_ct { padding:0 16px 0 0 ; margin-left:8px; height:49px; }
.show_ct a.add_ct:hover {background:none; padding:0 16px 0 0 ; margin-left:8px; height:49px; }

.lianxlie a.lan_ct { color:#666; display:block; float:left; margin:0 13px; padding-left:0px;}
.lianxlie a.lan_ct:hover { color:#ff460c; display:block; float:left; margin:0 13px; padding-left:0px;}
.lianxlie .line_ct { width:1px; height:20px; margin:14px 8px 0 5px; border-right:1px solid #ccc; float:left; display:block; }

.show_ct .hidden_ct { position:absolute; top:49px; left:-1px; width:92px; border:1px solid #dddddd; border-top:0px; background:#fff; padding:0 0 6px 8px; z-index:999;}
.show_ct .hidden_ctc { position:absolute; top:49px; left:-1px; width:92px; border:1px solid #dddddd; border-top:0px; background:#fff; padding:0 0 6px 8px; z-index:999;}
.show_ct .hidden_ct a { display:block; height:24px; line-height:24px; padding:0; float:left; width:100%; text-align:left; }
.show_ct .hidden_ct a span { color:#da082f; font-family:Arial, Helvetica, sans-serif; color:yellow; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; margin-left:5px;  margin-right:5px; padding:0 5px; border-radius:300px; background:red; }
.show_ct .hidden_ct a i { color:#da082f; font-weight:bold;}
.show_ct .hidden_ct a:hover { display:block; color:#ff460c; height:24px; line-height:24px; }



#news {width:100%; height:78px; background:#FFF; float:left; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/ad/ad2.jpg) no-repeat center top;}
/* nav */
#logo-search {width:100%; height:100px; background:#FFF; float:left; }
#logo-search .logo_left { width:180px; float:left; margin-top:22px; }
#logo-search .logo_left a { width:180px; float:left; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/logo.png) no-repeat center top; display:block; padding-top:48px; font-size:0.9em; text-align:center; letter-spacing:0.3em; color:#636363;}
#logo-search .searcher { width:650px; float:left; margin-top:25px; margin-left:110px; font-size:12px; color:#666; }
#logo-search .searcher .searchMenu { width:531px; float:left; border:1px solid #ccc; border-right:0; height:45px; line-height:45px;}
#logo-search .searcher .searchMenu .searchSelected { width:120px; float:left; text-align:center; height:45px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/linesearch.png) no-repeat right center;cursor:pointer}
#logo-search .searcher .searchMenu .searchinput { width:493px; float:left; margin-left:-1px;}
#logo-search .searcher .searchMenu .searchinput input { width:493px; padding-left:40px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/searchi.png) no-repeat 12px center; height:45px; line-height:45px; float:left;}

.goodsbot { width:100%; float:left; padding-top:4px;}
#logo-search .searcher .goodsbot a { color:#666; padding:0 10px 0 0; float:left; border-right:1px solid #ddd; margin-right:10px;}
#logo-search .searcher .goodsbot a:hover { color:#F60; padding:0 10px 0 0;float:left; border-right:1px solid #ddd;margin-right:10px;}

#logo-search .searcher .searchBtn { width:100px; float:left;}
#logo-search .searcher .searchBtn button { width:100px; float:left; height:47px; border:0; background:#ff6700;cursor:pointer; color:#fff; font-size:1.1em;
/* Gecko browsers */
-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 0;
/* Webkit browsers */
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 0;
/* W3C syntax */
border-top-left-radius: 0;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius:  0;
}
#logo-search .searcher .searchBtn button:hover { width:100px; float:left; height:47px; border:0; background:#ff4200;cursor:pointer; color:#fff; font-size:1.1em;
/* Gecko browsers */
-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 0;
/* Webkit browsers */
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 0;
/* W3C syntax */
border-top-left-radius: 0;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius:  0;

}
#logo-search .shopping a { color:#333;}
#logo-search .shopping a span { border-radius: 999px; padding:0 10px;  color:#FFF; background:#f60;}

#logo-search .shopping { position:relative; width:220px; border:1px solid #f7f7f7; height:45px; line-height:45px; text-align:center; float:right; z-index:888; margin:25px 0 0 0; background:#fafafa url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/xxcd2.png) no-repeat 190px 21px; _z-index:999 !important;font-size:0.9em;
-webkit-transition: background .5s ease-in-out , height .5s ease-in-out ;
-moz-transition: background .5s ease-in-out , height .5s ease-in-out ;
transition: background .5s ease-in-out , height .5s ease-in-out ;

}
#logo-search .shopping:hover { position:relative; width:220px; border:1px solid #ff4200; height:45px; line-height:45px; text-align:center; float:right; z-index:888; margin:25sspx 0 0 0; background:#FFF url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/xxcd.png) no-repeat 190px 21px; _z-index:999 !important;font-size:0.9em; height:177px; overflow:hidden;
box-shadow:0px 0px 5px #dcdcdc;
-moz-box-shadow:0px 0px 5px #dcdcdc;
-webkit-box-shadow:0px 0px 5px #dcdcdc;
}

#logo-search .shopping a.add_ct { padding:0 16px 0 0 ; margin-left:8px; height:49px; }
#logo-search .shopping a.add_ct:hover {background:none; padding:0 16px 0 0 ; margin-left:8px; height:49px; }

#logo-search .shopping .hidden_ct { position:absolute; top:45px; left:-1px; width:222px; border:0px solid #ff4200; background:none; padding:0; z-index:9999; height:120px; }

.fqujs { float:left; width:100%; line-height:22px;}
.fqujs dt { float:left; width:100%; height:22px; line-height:22px;}
.fqujs dt span { float:left; padding-left:15px; height:22px; line-height:22px; display:block;}
.fqujs dt i { float:left; color:#F60; font-weight:bold; background:#eaeaea; padding:3px 5px; border-radius: 3px; display:block;  }
.fqujs dt p { float:left; width:30px; height:22px; line-height:22px; display:block;}

.fqujs dd { float:left; width:100%;}
.fqujs dd span { float:left; padding-left:15px; }
.fqujs dd i { float:left; color:#F60; }
.fqujs dd p { float:left; width:30px;}

#logo-search .shopping .hidden_ct .fqujs a { float:left; width:90%; margin:0 5%; line-height:40px; line-height:40px; background:#F60; margin-top:15px; border-radius: 5px; color:#FFF;}
#logo-search .shopping .hidden_ct .fqujs a:hover { float:left; width:90%; margin:0 5%; line-height:40px; line-height:40px; background:#ff4200; margin-top:15px; color:#FFF;}



#scroll_nav{width:100%; height:105px; float:left;background:#FFF;  _z-index:100 !important; z-index:100
box-shadow:0px 0px 5px #dcdcdc;
-moz-box-shadow:0px 0px 5px #dcdcdc;
-webkit-box-shadow:0px 0px 5px #dcdcdc;
}


.nav {width:100%; height:50px; float:left; margin-top:5px; background:#ff6700;}
.nav .navCon-cate { width:222px; background:#F30; height:50px; line-height:50px; text-align:center; color:#fff; font-size:1.1em; float:left; background:#F30;
/* Gecko browsers */
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomleft: 0;
-moz-border-radius-bottomright: 0;
/* Webkit browsers */
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-left-radius: 0;
-webkit-border-bottom-right-radius: 0;
/* W3C syntax */
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 0;
border-bottom-left-radius:  0;
}
.nav .navul { float:left; width:700px; padding-left:15px;}
.nav .navul li { float:left;}
.nav .navul li a { float:left;height:48px; line-height:48px; border-right:1px solid #EC6001;color:#ffffff; font-size:17px;width:115px;text-align:center}
.nav .navul li a:hover { float:left; height:48px; line-height:48px; color:black; border-top:1px solid #ff6700;background:#F90 }

.nav .navCon-tel { width:222px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/nav-tel.png) no-repeat center left; height:50px; line-height:50px; text-align:center; color:#fff; font-size:1.0em; font-weight:bold; text-align:right; float:right;}


.content {float:left; width:100%; background:#FFF; padding-bottom:30px;}
.content .radioer {float:left; width:220px; border:1px solid #CCC; border-top:0; background:#FFF; height:414px; }
.content .radioer .radioul { float:left; width:100%;}
.content .radioer .radioul li { float:left; width:100%;}
.content .radioer .radioul li.rul { float:left; width:100%; background:#f8f8f8;}
.content .radioer .radioul li a{ float:left; width:100%; height:46px; line-height:46px; text-align:center; color:#636363; font-size:1.0em;}

/* mod-menu */
.mold_open{background-position:0 -6px;}
.mold_open_hover{background-position:0 0;}
.mod-menu{position:relative;z-index:88; float:left; width:220px; border:1px solid #CCC; border-top:0; background:#FFF; height:414px;
-webkit-transition: border .5s ease-in-out ;
-moz-transition: border .5s ease-in-out ;
transition: border .5s ease-in-out;

}
.menu-cont-list a:hover{text-decoration:underline;}
.mod-menu .menu-item{ position:relative;z-index:22; text-align:center; }
.mod-menu .menu-item li{height:27.5px;line-height:28px; width:220px;}
.mod-menu .menu-item li.mouse-bg{background:#F30;position:relative;z-index:22; color:#FFF; }
.mod-menu .menu-item a{color:#333;font-size:1.0em; display:block;height:28px;border-top:solid 1px #f1f2f7;padding-left:50px;text-align:left;}
.mod-menu .menu-item a:hover{ text-decoration:none;}
.mod-menu .menu-cont-list{position:absolute;left:220px;top:0;background:#fff;width:691px;border:solid 1px #F60; border-top:0;box-shadow:2px 0 10px #ccc;z-index:20; padding:15px 20px 10px 20px; min-height:389px;}
.mod-menu .menu-cont-list ul { width:100%; float:left;}
.mod-menu .menu-cont-list ul li { width:100%; float:left;}
.mod-menu .menu-cont-list ul li span { width:100%; float:left; display:block; border-bottom:1px solid #dbdbdb; height:20px; }
.mod-menu .menu-cont-list ul li span a { color:#F60; font-size:1.0em; height:16px; padding:0 0 0px 0; line-height:16px; border-left:2px solid #F60; padding-left:10px;}
.mod-menu .menu-cont-list ul li span a:hover { color:#333; font-size:1.0em; height:16px; padding:0 0 0px 0; line-height:16px; border-left:2px solid #F60; padding-left:10px;}


.mod-menu .menu-cont-list ul li p { width:100%; padding:8px 0; float:left; display:block;}

.mod-menu .menu-cont-list ul li p a { color:#333; float:left; padding:0 3px; height:16px; padding:0 0 10px 0; line-height:16px; font-size:0.9em; display:block;}
.mod-menu .menu-cont-list ul li p i { color:#333; float:left; height:16px; border-left:1px solid #ccc; width:1px; display:block;  margin:0px 5px 10px 5px; display:block;}
.mod-menu .menu-cont-list ul li p a:hover { color:#F60;}




.mod-menu .menu-item li.mouse-bg a { color:#FFF; }
.mod-menu:hover{position:relative;z-index:88; float:left; width:220px; border:1px solid #F60; border-top:0; background:#FFF; height:414px;}



.content .turner {float:left; width:716px; background:#FFF; height:400px; margin-top:15px; margin-left:15px; }
.content .turner img { float:left; width:716px;  height:400px; }
.example{ width:716px; height:400px; overflow:hidden; position:relative; }
/*渐隐*/
.luara {position:absolute;padding:0;overflow: hidden;}
.luara ul{padding: inherit;margin: 0;}
.luara ul li{display: none;padding: inherit;margin: inherit;list-style: none;}
.luara ul li:first-child{display:block;}
.luara ul li img{width: inherit;height: inherit;}
/*example*/
.example ol{position:absolute;width: 60px;height: 20px;top:370px;left:49%; display:block; z-index:66; overflow:hidden;}
.example ol li{float:left;width: 10px;height: 10px;margin: 5px;background: #fff;border-radius: 999px; cursor:pointer;}
.example ol li.seleted{background: #F60;border-radius: 999px; cursor:pointer;}

/*左滑*/
.luara-left{position:relative;padding:0;overflow: hidden;}
.luara-left ul{position: relative;padding: inherit;margin: 0;}
.luara-left ul li{float: left;padding: inherit;margin: inherit;list-style: none;}
.luara-left ul li img{width: inherit;height: inherit;}

.example2{ width:716px; height:400px; overflow:hidden; position:relative;}
.example2 ol{position:absolute;width: 110px;height: 20px;top:370px;left:49%; display:block; z-index:66; overflow:hidden;}
.example2 ol li{float:left;width: 10px;height: 10px;margin: 5px;background: #fff;border-radius: 999px; cursor:pointer;}
.example2 ol li.seleted{background: #F60;border-radius: 999px; cursor:pointer;}




.content .notice {float:right; width:222px; height:400px; margin-top:15px; }
.content .notice div.yeslogin {float:left; width:220px; border:1px solid #dcdcdc; height:58px; line-height:58px; font-size:0.9em;}
.content .notice div.yeslogin a {float:left; width:50%; text-align:center; display:inline; height:58px; line-height:58px; color:#333;}
.content .notice div.yeslogin a.login-a {float:left; width:50%; text-align:center; display:inline; height:58px; line-height:58px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/xxcd2.png) repeat-y 109px center; color:#f60;}
.content .notice div.yeslogin a:hover {float:left; width:50%; text-align:center; display:inline; height:58px; line-height:58px; background:#F90 url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/xxcd2.png) repeat-y 109px center; color:#FFF;}

.content .notice div.yesloginpos {float:left; width:220px; border:1px solid #dcdcdc; height:58px; line-height:58px; font-size:0.9em; text-align:center;}
.content .notice div.yesloginpos span { padding:0 0 0 8px;}
.content .notice div.yesloginpos a { text-align:center; padding:0 4px;color:#F60;}
.content .notice div.yesloginpos a:hover { text-align:center; padding:0 4px;color:#333;}


.content .notice .tin_th { width:222px; float:left; margin-top:10px; height:235px; }
.content .notice .tin_th dt { width:222px; height:50px; border-bottom:1px solid #dfdfdf; float:left; margin-bottom:5px;}
.content .notice .tin_th dt a { color:#666;}
.content .notice .tin_th dt a:hover { color:#F60;}
.content .notice .tin_th dt h3 { float:left; width:130px; text-align:left; padding-left:20px; height:50px; line-height:50px; display:inline; font-weight:bold; color:#636363; font-size:0.96em; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/noticebg.png) no-repeat left center;}
.content .notice .tin_th dd { width:230px; float:left; padding-top:10px;}
.content .notice .tin_th dd a { display:block; float:left; padding:0 4px 0 4px; color:#666; height:23px; line-height:23px; color:#636363;font-size:0.8em;}
.content .notice .tin_th dd a:hover { display:block; float:left; padding:0 4px 0 4px; color:#666; height:23px; line-height:23px; color:#f60; }

.content .notice .ulgua { width:222px; float:left; background:#e1e1e1; border-bottom:1px solid #e1e1e1;border-top:1px solid #e1e1e1; }
.content .notice .ulgua li { float:left; background:#fff; }
.content .notice .ulgua li span { text-align:center; width:100%; font-size:0.8em; display:block; padding-top:63px; color:#999; padding-bottom:13px;}
.content .notice .ulgua li.ulguaa { width:73px; background:#fff url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/ulgua.png) no-repeat left 12px; }
.content .notice .ulgua li.ulguaa:hover { width:73px; background:#fafafa url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/ulgua.png) no-repeat left 12px;cursor:pointer }
.content .notice .ulgua li.ulguab { width:74px; background:#FFF url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/ulgua.png) no-repeat -74px 12px; margin-left:1px; }
.content .notice .ulgua li.ulguab:hover { width:74px; background:#fafafa url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/ulgua.png) no-repeat -74px 12px; margin-left:1px;cursor:pointer }
.content .notice .ulgua li.ulguac { width:73px; background:#fff url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/ulgua.png) no-repeat -148px 12px; margin-left:1px; }
.content .notice .ulgua li.ulguac:hover { width:73px; background:#fafafa url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/ulgua.png) no-repeat -148px 12px; margin-left:1px;cursor:pointer }

.contentBrand {float:left; width:100%; background:#f1f1f1; padding-bottom:30px;}
.content-titletit { width:100%; padding:30px 0 10px 0; text-align:center; float:left; font-size:1.3em; font-weight:bold; height:auto;}
.content-titletit a { padding:10px 50px; background:#FFF; text-align:center; color:#ff6700; border-radius:9999px; 
-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out, color .6s ease-in-out;
-moz-transition: background .5s ease-in-out, padding .5s ease-in-out, color .6s ease-in-out;
transition: background .5s ease-in-out, padding .5s ease-in-out, color .6s ease-in-out; display:block; width:130px; margin:0 auto;}

.content .content-titletit a { padding:10px 50px; background:#fbfbfb; text-align:center; color:#ff6700; border-radius:9999px; 
-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out, color .6s ease-in-out;
-moz-transition: background .5s ease-in-out, padding .5s ease-in-out, color .6s ease-in-out;
transition: background .5s ease-in-out, padding .5s ease-in-out, color .6s ease-in-out; display:block; width:130px; margin:0 auto;}

.content-titletit a:hover { padding:10px 40px; background:#ff6700; text-align:center; color:#FFF; border-radius:9999px;}
.content-titletit i { width:100%; display:block; text-align:center; font-size:0.5em; letter-spacing:0.1px;font-weight:normal; color:#CCC; padding-top:5px;}

.brandcenter { margin:0 auto; width:1206px;}
.brand { background:#fdfdfd; float:left; width:557px; padding:15px; margin:8px; border-radius:5px;
-webkit-transition: background .5s ease-in-out ;
-moz-transition: background .5s ease-in-out ;
transition: background .5s ease-in-out;
box-shadow:0px 0px 4px #f3f3f3;
-moz-box-shadow:0px 0px 4px #f3f3f3;
-webkit-box-shadow:0px 0px 4px #f3f3f3;
}
.brand:hover { background:#FFF; float:left; width:557px; padding:15px; margin:8px; border-radius:5px;}
.brand .brandtit { width:100%; float:left; font-size:0.9em; color:#636363;}
.brand .brandtit .btitlogo { width:232px; float:left; padding-top: 30px;}
.brand .brandtit .btitjiao { width:320px; float:left; height: 130px;}
.brand .brandtit .btitjiao dt { width:300px; padding-left:20px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/pq.png) no-repeat left center; float:left; height:35px; line-height:35px; color:#333;}
.brand .brandtit .btitjiao dd { width:300px; float:left; padding:10px 0 0 0; line-height:26px; color:#666;}

.ads { float:left; width:1190px; margin:25px 8px 0 8px; }
.content .ads { float:left; width:1190px; margin:25px 0px 0 0px; }
.ads img{ float:left;}



.brand .brandlist { width:100%; float:left;font-size:0.9em;}
.newchan { width:96%; padding:5px 2%; float:left; background:#f7f7f7; border-bottom:1px solid #ddd;border-top:1px solid #FFF;}
.newchan h3{ float:left;}
.brandlist .newchan a {padding:2px 6px; color:#FFF; border-radius:5px;float:right; background:#F60; color:#FFF; font-size:0.8em; }
.brand .brandlist ul {height:88px; float:left; width:100%; padding-top:15px;}
.brand .brandlist ul li { float:left; width:95%; padding:5px 0;padding-left:5%; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/libg1.png) no-repeat 3px center;}
.brand .brandlist ul li a { color:#333;}

.ypqpic { width:238px; float:left; margin-top:8px; }
.ypqul { width:952px; background:#e1e1e1; float:left; padding-bottom:1px; margin-top:8px; }
.ypqul li{ width:237px; margin-right:1px; background:#fff; float:left; height:206px; margin-top:1px;}
.ypqul li:hover{ width:237px; margin-right:1px; background:#fafafa; float:left; height:206px; margin-top:1px;}
.ypqul li span { width:237px; float:left; text-align:center; display:block; padding:12px 0 5px 0; background:#FFF;}
.ypqul li span img { text-align:center;}
.ypqul li p { width:207px; line-height:24px; margin-top:8px; float:left; font-size:0.9em; padding:0 15px; text-align:left; display:block; color:#666; }
.ypqul li p a { color:#333;}
.ypqul li p a:hover { color:#f60;}
.ypqul li p i { padding-left:20px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/pq.png) no-repeat left center;}

.content .navbot { float:left; width:100%; margin-top:25px;}
.content .navbot li { float:left;}
.content .navbot li a { float:left; padding:0 12px; margin-right:5px; height:48px; line-height:48px; border-bottom:1px solid #FFF; color:#363636; font-size:0.8em;}
.content .navbot li a.hover { float:left; padding:0 12px; margin-right:5px; height:48px; line-height:48px; border-bottom:1px solid #ff6700; color:#ff6700;}
.content .navbot li a:hover { float:left; padding:0 12px; margin-right:5px; height:48px; line-height:48px; border-bottom:1px solid #ff6700; color:#ff6700;}





.contentfooter {float:left; width:100%; background:#f7f7f7; height:210px; padding:25px 0; }
.contentfooter div.fotleft {float:left; width:500px; font-size:0.8em; }
.contentfooter div.fotleft ul {float:left; width:500px; }
.contentfooter div.fotleft ul li {float:left; width:500px; padding:8px 0; }
.contentfooter div.fotleft ul li span {float:left; width:79px; line-height:14px; height:14px; text-align:left; padding-left:10px; color:#333; border-left:1px solid #666;}
.contentfooter div.fotleft ul li a {float:left; width:90px; padding-left:12px; text-align:left; color:#666; line-height:14px; height:14px;}
.contentfooter div.fotleft ul li a:hover {float:left; width:90px; padding-left:12px; text-align:left; color:#F60; line-height:14px; height:14px;}

.contentfooter div.fotmid {float:left; width:206px; border-left:1px solid #dadada; border-right:1px solid #dadada;height:210px; text-align:center; }
.contentfooter div.fotmid img { border:5px solid #FFF;}
.contentfooter div.fotmid p { width:100%; line-height:24px; margin-top:12px; float:left; font-size:0.8em; color:#333; }

.contentfooter div.fotright {float:left; width:482px; }
.contentfooter div.fotright ul {float:left; width:432px; padding-left:35px; margin-left:15px; display:inline; color:#333; font-size:0.8em; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/botbg.png) no-repeat left top; }
.contentfooter div.fotright ul li {float:left; height:28px; line-height:28px; width:100%;}
.contentfooter div.fotright ul li span { color:#f60;}
.contentfooter div.fotright ul li a { color:#666;}
.contentfooter div.fotright ul li a:hover { color:#f60;}

.contentfooter div.fotright .banquan {float:left; width:441px; margin-left:22px; line-height:26px; border-top:1px solid #d2d2d2; margin-top:18px; padding-top:18px; display:inline; color:#333; font-size:0.8em; }

.bottomer { width:100%; background:#FFF; text-align:center; float:left;}
.bottomer div.bot_jing { width:100%; background:#FFF; padding:25px 0 15px 0; }


.chengjiaojl {float:left; width:100%; background:#FFF; padding-bottom:30px;}
.chengjiaojl .Top_Record { background:#F1F1F1; margin:0 auto; width:1190px; padding :30px 0;border-radius:11px; }

.record_Top {width:96%; padding-bottom:20px;  text-align:center; line-height:40px; margin:0px auto 0px; }
.record_Top p { background: #fffac1; border: 1px dashed #f90; border-radius:99999px; width: auto; color: #333}
.record_Top p i { font-family: Arial, Helvetica, sans-serif; padding: 0 10px; font-weight:bold; color: #f60; }

@-webkit-keyframes fadeIn {
	0% {
	opacity: 0; /*初始状态 透明度为0*/
	}
	50% {
	opacity: 0; /*中间状态 透明度为0*/
	}
	100% {
	opacity: 1; /*结尾状态 透明度为1*/
	}
}

.record_Top p i
{
animation: fadeIn 1s;
/* Firefox: */
-moz-animation: fadeIn 1s;
/* Safari 和 Chrome: */
-webkit-animation: fadeIn 1s;
/* Opera: */
-o-animation: fadeIn 1s;	




}

.topRec_List dl,.maquee{ width:96%; overflow:hidden; margin:0 auto; color:#7C7C7C}
.topRec_List dd{ float:left; text-align:center; border-bottom:1px solid #1B96EE; color:#1B96EE;}
.topRec_List dd i { font-family: Arial, Helvetica, sans-serif; float: left; color:#ccc; }
.topRec_List dl dd:nth-child(1){ width:15%; height:40px; line-height:40px; }
.topRec_List dl dd:nth-child(2){ width:15%; height:40px; line-height:40px; }
.topRec_List dl dd:nth-child(3){ width:15%; height:40px; line-height:40px; }
.topRec_List dl dd:nth-child(4){ width:15%; height:40px; line-height:40px; }
.topRec_List dl dd:nth-child(5){ width:20%; height:40px; line-height:40px; }
.topRec_List dl dd:nth-child(6){ width:20%; height:40px; line-height:40px; }
.maquee{ height:195px;}
.topRec_List ul{ width:100%; height:195px;}
.topRec_List li{ width:100%; height:38px; line-height:38px; text-align:center; font-size:12px; border-bottom: 1px dashed #aaa;}
/*.topRec_List li:nth-child(2n){ background:#077cd0}*/
.topRec_List li div{ float:left;}
.topRec_List li div:nth-child i { font-family: Arial, Helvetica, sans-serif;}
.topRec_List li div:nth-child(1){ width:15%;}
.topRec_List li div:nth-child(2){ width:15%;}
.topRec_List li div:nth-child(3){ width:15%;}
.topRec_List li div:nth-child(4){ width:15%;}
.topRec_List li div:nth-child(4) i{ color:#f60; font-size: 14px;}
.topRec_List li div:nth-child(5){ width:20%;}
.topRec_List li div:nth-child(6){ width:20%;}

.topRec_List li div span.nopay { color:#09F;}
.topRec_List li div span.yespay { color:#F30;}

.adspay { width:1190px; margin:0 auto; margin-top:20px; }


