
.side-pannel {
	position: fixed;
	right: 0;
	margin-right:30px;
	z-index: 99
}
.side-bar {
	bottom: 100px;
}
.side-bar a {
	display: block;
	cursor: pointer;
	width: 52px;
	height: 42px;
	position: relative;
	color: #676767;
	text-align: center
}
.side-bar a s {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.side-bar a span {
	line-height: 20px
}

.side-bar a.gotop s {
	position: absolute;
	top: 50%;
	left: 17px
}
.side-bar a.text {
	padding-top: 5px;
	height:42px;
}
.side-bar a.gotop.text {
height:47px;
}
.side-bar a.qr s {
	position: absolute;
	top: 50%;
	left: 18px
}
.side-bar a.qr i {
	width: 277px;
	height: 259px;
	position: absolute;
	left: -277px;
	top: 50%;
	margin-top: -120px;
	display: none;
	background-position: 0 0
}
.side-bar a.qr:hover i {
	display: block
}
.side-bar a.qr i {
	background-image: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/sprite2.png)
}

.g-icon-top {
	height: 20px;
	width: 35px;
	margin-top: -10px;
	background-position: 0 -33px
}
.g-icon-survey1 {
	height: 23px;
	width: 26px;
	margin-top: -11px;
	background-position: 0 -53px
}
.side-bar a.survey:hover s {
	height: 23px;
	width: 26px;
	margin-top: -11px;
	background-position: -26px -53px
}
.g-icon-qq1 {
	height: 20px;
	width: 22px;
	margin-top: -10px;
	background-position: -35px -33px
}
.g-icon-weibo1 {
	height: 25px;
	width: 27px;
	margin-top: -12px;
	background-position: -72px 0
}
.g-icon-weibo2, .side-bar a.weibo:hover s {
	height: 25px;
	width: 27px;
	margin-top: -12px;
	background-position: -72px -25px
}
.g-icon-qr1 {
	height: 33px;
	width: 36px;
	margin-top: -16px;
	background-position: -36px 0
}
.g-icon-qr2, .side-bar a.qr:hover s {
	height: 33px;
	width: 36px;
	margin-top: -16px;
	background-position: 0 0
}

#fixed,#fixed *{
	box-sizing:border-box;
}
#fixed{
    width:42px;
    height:390px;
    float:right;
    position:fixed;
    top:190px;
    right:0;
    z-index:500;
}
#fixed>div{
    float:right;
}.
#fixed .shop{
    width:40px;
    height:105px;
}
#fixed .shop>a{
    float:left;
    width:40px;
    height:105px;
    background:#666;
    color:#fff;
    font-size:16px;
    border-radius:4px 0 0 4px;
}
#fixed .shop>a:hover{
    background:#ff8900;
}
#fixed .shop b{
    float:left;
    width:40px;
    height:40px;
    position:relative;
    top:0;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/1019/icon02.png") no-repeat -239px -225px;
}
#fixed .shop span{
    float:left;
    width:20px;
    height:64px;
    line-height:18px;
    margin-left:12px;

}
#fixed .service,#fixed .user,#fixed .stick{
    float:right;
    width:40px;
    height:46px;
    background:#666;
    border-radius:4px 0 0 4px;
    margin-top:2px;
}
#fixed .service>a{
    float:left;
    width:100%;
    height:46px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/1019/icon02.png") no-repeat -44px -7px;
}
#fixed .service.phone>a{
	background-position:-295px -219px;
}
#fixed .service:hover{
    background:#ff8900;
    border-radius:0;
    width:42px;
    padding-left:2px;
}
#fixed .service:hover>div{
    display:block;
}
#fixed .service>div{
    float:left;
    width:154px;
    height:125px;
    background:#ff8900;
    border-radius:4px 0 4px 4px;
    position:absolute;
    top:107px;
    left:-154px;
    padding:8px;
    display:none;
}
#fixed .service.phone>div{
	height:235px;
	top:155px;
}
#fixed .service>div h6{
    font-weight:normal;
    margin-bottom:6px;
    color:#fff;
}
#fixed .service>div p{
    color:#fff;
    border-bottom:1px solid #fff;
    padding-bottom:6px;
    margin-bottom:5px;
    line-height:14px;
}
#fixed .service>div p:last-child{
	border-bottom:0;
}
#fixed .service>div p a{
    color:#fff;
    line-height:20px;
}
#fixed .service>div p a.q2{
	margin-left:23px;
}
#fixed .service>div p b{
    float:left;
    width:12px;
    height:12px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/1019/icon02.png") no-repeat;
    margin-right:10px;
    margin-top:5px;
}
#fixed .service.phone>div p b{
	margin-top:0;
}
#fixed .service>div .p_icon1 b{
    background-position:-93px -16px;
}
#fixed .service>div .p_icon2 b{
    background-position:-93px -43px;
}
#fixed .service>div .p_icon3 b{
    width:14px;
    height:14px;
    margin-right:6px;
    background-position:-91px -68px;
}
#fixed .service>div p img{
    width:100px;
    height:100px;
    margin-left:19px;
}
#fixed .user,#fixed .stick{
    position:relative;
}
#fixed .user>a,#fixed .stick>a{
    float:right;
    width:40px;
    height:46px;
    position:absolute;
    bottom:0;
    left:0;
    z-index:600;
    background:#666;
    border-radius:4px 0 0 4px;
}
#fixed .user:hover>a,#fixed .stick:hover>a{
	background:#ff8900;
	border-radius:0;
}
#fixed .user:hover span,#fixed .stick:hover span{
	background:#ff8900;
	left:-86px;
}
#fixed>div>a b{
    float:left;
    width:40px;
    height:46px;
    position:absolute;
    bottom:0;
    left:0;
    z-index:600;
}
#fixed .user span,#fixed .stick span{
    float:left;
    font-size:14px;
    width:86px;
    height:46px;
    text-align:center;
    line-height:46px;
    border-radius:4px 0 0 4px;
    background:#666;
    position:absolute;
    top:0;
    left:0;
    z-index:500;
    -webkit-transition:left 0.25s linear;
    -moz-transition:left 0.25s linear;
    transition:left 0.25s linear;
}
#fixed .user span>a,#fixed .stick span>a{
	color:#fff;
}
#fixed .user b{
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/1019/icon02.png") no-repeat -44px -62px;
}
#fixed .stick{
    position:absolute;
    bottom:0;
    right:0;
}
#fixed .stick b{
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/1019/icon02.png") no-repeat -44px -119px;
}

.g-icon-qq1, .g-icon-qr1, .g-icon-qr2, .g-icon-survey1, .g-icon-survey2, .g-icon-top, .g-icon-weibo1, .g-icon-weibo2,.side-bar a.qr:hover s, .side-bar a.survey:hover s, .side-bar a.weibo:hover s{background-image: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/sprite1.png)}