body{
    /*font:12px "微软雅黑","microsoft yahei",Arial,Helvetica,sans-serif;*/
    font-family:"微软雅黑","幼圆","黑体",sans-serif;
    font-size:12px;
    color:#666;
    margin:0;
    padding:0;
}
*{
    box-sizing:border-box;
}

/*ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
    margin:0;
    padding:0;
    list-style:none;
}*/
a{
    color:#666;
    text-decoration:none;
}
a:hover{
    color:#FE4D20;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
#header{
    width:100%;
    height:50px;
    background:#f9f9f9;
    font-size:14px;
}
#header>.header_content{
    width:1190px;
    height:50px;
    margin:0 auto;
}
#header>.header_content>p{
    margin:0;
    padding:0;
    float:left;
    line-height:50px;
}
#header>.header_content>p.register>a{
    margin-right:15px;
}
#header>.header_content>p.register>a>span{
    margin-right:10px;
    color:#FE4D20;
}
#header>.header_content .p_login{
    width:500px;
}
#header>.header_content .p_login a{
    margin-left:10px;
}
#header>.header_content .p_login span{
    margin-right:10px;
}
#header>.header_content>ul{
    float:right;
}
#header>.header_content>ul>li{
    float:left;
    width:110px;
    line-height:50px;
    position:relative;
    z-index:300;
    height:50px;
    transition:background 0.3s linear;
}
#header>.header_content>ul>li>a{
    float:left;
    padding:0px 25px 0 10px;
}
#header>.header_content>ul>li>b{
    float:left;
    width:7px;
    height:4px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -93px -23px;
    position:absolute;
    top:23px;
    right:12px;
}
#header>.header_content>ul>li.header_nth2:hover{
    background:#f9f9f9;
    border:0;
}
#header>.header_content>ul>li:nth-child(2)>a{
    padding-left:20px;
}
#header>.header_content>ul>li>span{
    float:left;
    width:11px;
    height:11px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -73px -22px;
    position:absolute;
    top:19px;
    left:3px;
}
#header>.header_content>ul>li:hover{
    background:#fff;
}
#header>.header_content>ul>li:nth-child(1){
    background:#f9f9f9;
    border:0;
}
#header>.header_content>ul>li:hover>a{
    color:#FE4D20;
}
#header>.header_content>ul>li:hover>b{
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -86px -23px;
}

/**顶部下拉菜单**/
#header>.header_content>ul>li>ul.sul{
    padding:10px;
    width:100%;
    background:#fff;
    border:1px solid #ddd;
    position:absolute;
    top:49px;
    border-top:1px solid transparent;
    display:none;
}
#header>.header_content>ul>li>ul.sul>li{
    line-height:30px;
}
#header>.header_content>ul>li:hover>ul.sul{
    display:block;
}

#top_banner>img{
    width:100%;
    vertical-align:bottom;
}

/**搜索栏部分**/
#search{
    width:1190px;
    height:113px;
    margin:0 auto;
    padding:30px 0 20px 0;
}
#search>div.logo{
    float:left;
}
#search>div.logo>img:nth-child(2){
    margin-left:15px;
}
#search>div.seek{
    width:560px;
    height:40px;
    float:left;
    margin-left:38px;
    padding-top:10px;
}
#search>div.seek>p{
    margin:0;
}
/*新添加的固定搜索栏*/
#search.active{
    float:left;
    width:1190px;
    position:fixed;
    top:0;
    left:50%;
    z-index:500;
    padding-top:10px;
    margin-left:-595px;

}
#search>div.seek>p.ipt2{
    display:none;
}
#search.active .ipt2{
    display:none;
}
#search_div{
	float:left;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background:#fff;
	height:90px;
	z-index:400;
	display:none;
}

#search>div.seek>div.ipt1{
	z-index:100;
    width:100%;
    height:40px;
    float:left;
    background:#FF8E01;
    position:relative;
    top:10px;
    padding:2px 0 2px 2px;
}
#search>div.seek>div.ipt1>ul{
	width: 80.6%;
	left:4.5px;
}
#search>div.seek>div.ipt1 input{
    border:0;
    height:36px;
    padding:0;
    outline:none;
}
#search>div.seek>div.ipt1 input.txt{
    width:80%;
    padding:10px 0 10px 35px;
    font-size:14px;
    font-weight:bold;
    color:#666;
    position:absolute;
    top:2px;
    left:2px;
}
#search>div.seek>div.ipt1 b{
    float:left;
    width:21px;
    height:21px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -38px -170px;
    position:absolute;
    top:9px;
    left:10px;
    z-index:10;
}
#search>div.seek>div.ipt1 input.btn{
    width:18%;
    padding:0;
    background:#FF8E01;
    color:#fff;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    position:absolute;
    top:2px;
    right:2px;
}
#search>div.seek>p.ipt2>a{
    margin:0 10px 0 5px;
}

#search>div.shop{
    float:right;
    margin-right:50px;
    margin-top:10px;
    width:120px;
    height:40px;
    position:relative;
    top:10px;
}
#search>div.shop>p{
    float:left;
    margin:0;
    padding:0;
    width:120px;
    height:40px;
    border:1px solid #E3E3E3;
    background:#f9f9f9;
    padding-left:2px;
    position:absolute;
    cursor:pointer;
    line-height:35px;
    z-index:40;
}
#search>div.shop>p>span{
    font-size:12px;
}
#search>div.shop:hover>p{
    background:#fff;
    border-bottom:1px solid transparent;
}
#search>div.shop:hover>div{
    display:block;
}
#search>div.shop>p>b{
    float:left;
    width:16px;
    height:16px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -38px -131px;
    margin:11px 6px;
}
#search>div.shop>p>i{
    font-style:normal;
    font-size:12px;
    color:#fff;
    text-align:center;
    line-height:13px;
    float:left;
    width:13px;
    height:13px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -56px -133px;
    position:absolute;
    top:-3px;
    left:90px;
}
#search>div.shop>p>a{
    float:right;
    margin-right:3px;
}
#search>div.shop>div{
    width:200px;
    height:70px;
    position:absolute;
    top:39px;
    left:0;
    background:#fff;
    border:1px solid #ddd;
    padding-left:10px;
    z-index:30;
    display:none;
}
#search>div.shop>div>p{
    margin:0;
    font-size:12px;
    height:22px;
    line-height:22px;
}
#search>div.shop>div>p>span{
    color:#FF6600;
}
#search>div.shop>span{
    font-size:12px;
    line-height:40px;
    margin-left:5px;
    margin-right:5px;
}
#search>div.shop>div>p>a{
    float:right;
    width:60px;
    height:16px;
    line-height:16px;
    margin:2px 10px 0 0 ;
    text-align:center;
    background:#FF8E01;
    color:#fff;
    border-radius:3px;
}
#search>div.shop>div>p>a:hover{
    background:#ff6600;
}

/**导航部分**/
#nav{
    width:100%;
    height:40px;
    border-bottom:2px solid #FF8900;
}
#nav>.nav_content{
    overflow:hidden;
    width:1190px;
    margin:0 auto;
}
#nav>.nav_content>div{
    float:left;
    width:220px;
    height:38px;
    background:#FF8900;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    line-height:38px;
    position:relative;
}
#nav>.nav_content>div>b{
    float:left;
    width:24px;
    height:16px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -39px 0;
    position:absolute;
    top:11px;
    left:15px;
}
#nav>.nav_content>ul{
    float:left;
    height:38px;
    font-size:16px;
}
#nav>.nav_content>ul>li{
    float:left;
    width:143px;
    height:38px;
    text-align:center;
    line-height:38px;
    position:relative;
}
#nav>.nav_content>ul>li>a{
    font-weight:bold;
}
#nav>.nav_content>ul>li>b{
    float:left;
    width:7px;
    height:4px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -86px -23px;
    position:absolute;
    bottom:0px;
    right:68px;
    display:none;
}
#nav>.nav_content>ul>li:hover>b{
    display:block;
}
#nav>ul>li:hover>a{
    display:block;
    color:#FF6A09;
}
#nav>.nav_content>p{
    float:right;
    padding:0;
    margin:0;
    line-height:38px;
}
#nav>.nav_content>p>span{
    color:#ff8900;
    font-weight:bold;
    font-size:16px;
}
#nav>.nav_content>p>b{
    float:left;
    width:18px;
    height:20px;
    margin-right:10px;
    margin-top:9px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -42px -149px;
}

/**广告部分**/
#banner{
    width:100%;
    height:412px;
    position:relative;
}
#banner>.banner_content{
    width:1190px;
    height:412px;
    margin:0 auto;
}
#banner p{
    padding:0;
    margin:0;
}
#banner>.banner_content>ul.cate_box{
    float:left;
    width:220px;
    height:412px;
    background:#f9f9f9;
    position:relative;
    z-index:100;
}
#banner>.banner_content>ul.cate_box>li{
    height:27px;
    line-height:27px;
    padding:0 10px 0 15px;
    font-size:14px;
}
/**分类弹出框**/
#banner>.banner_content>ul.cate_box>li>div.tanchu{
    position:absolute;
    top:0;
    left:219px;
    width:434px;
    height:412px;
    display:none;
    z-index:50;
}
#banner ul.cate_box>li>div.tanchu>ul{
    width:100%;
    height:100%;
    background:#fff;
    padding:0 30px;
}
#banner ul.cate_box>li>div.tanchu>ul>li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 14px;
    border-bottom: 1px dashed #ddd;
}
#banner ul.cate_box>li>i{
    float:left;
    width:18px;
    height:16px;
    margin:5.5px 10px 0 0;
}
#banner ul.cate_box>li>b{
    float:right;
}
#banner ul.cate_box>li:hover>i{
    color:#ff6601;
}

#banner ul.cate_box>li:hover{
    background:#fff;
}
#banner ul.cate_box>li:hover>div.tanchu{
    display:block;
}
#banner ul.cate_box>li:hover>b{
    display:none;
}
#banner ul.cate_box>li:hover>a{
    color:#FF6A09;
}

/**轮插广告**/
#banner>ul.slider_bg{
    float:left;
    position:absolute;
    z-index:1;
    height:412px;
    width:100%;
}
#banner>ul.slider_bg>li{
    float:left;
    position:absolute;
    z-index:2;
    width:100%;
    height:412px;
    display:none;
}
#banner>ul.slider_bg>li>img{
    width:100%;
    height:412px;
}
#banner .lunbo{
    float:left;
    width:716px;
    height:412px;
    position:relative;
}
#banner .lunbo>.lunbo_img{
    float:left;
    width:716px;
    height:412px;
    position:absolute;
    top:0;
    left:0;
    z-index:20;
}
#banner #slider{
    float:left;
    position:relative;
    width:716px;
    height:412px;
}
#banner #slider>li{
    float:left;
    width:716px;
    height:412px;
    position:absolute;
    cursor:pointer;
    display:none;
}
#banner #index{
    float:left;
    position:absolute;
    bottom:20px;
    left:43%;
}
#banner #index>li{
    float:left;
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    border-radius:50%;
    margin-right:10px;
    background:#333333;
    color:#fff;
    cursor:pointer;
}
#banner #index>li:hover,#banner #index>li.hover{
    background:#FF6600;
}
#banner div.notice{
    float:left;
    width:230px;
    height:412px;
    padding:10px 0 10px 0;
    position:relative;
    z-index:5;
}
#banner div.notice>div.d1{
    width:100%;
    height:110px;
    margin-bottom:8px;
    background:#fff;
    padding:10px 15px 10px 15px;
    text-align:center;
    position:relative;
}
#banner div.notice>div.d1>p{
    margin:0 auto;
    font-size:12px;
    margin-top:10px;
}
#banner div.notice>div.d1>a{
    float:left;
    width:35%;
    height:18px;
    background:#FF8900;
    border-radius:8px;
    cursor:pointer;
    font-size:12px;
    color:#fff;
    margin-top:10px;
}
#banner div.notice>div.d1>a.btn1{
    position:absolute;
    bottom:15px;
    left:20px;
}
#banner div.notice>div.d1>a.btn2{
    position:absolute;
    bottom:15px;
    right:20px;
}
#banner div.notice>div.d1>a:hover{
    background:#FF6600;
}
#banner div.notice>div.d2{
    background:#fff;
    margin-bottom:8px;
    width:100%;
    height:172px;
}
#banner div.notice>div.d2>p{
    padding:0 10px 0 10px;
    height:36px;
    line-height:36px;
    border-bottom:1px solid #ddd;
}
#banner div.notice>div.d2>p>span{
    float:left;
}
#banner div.notice>div.d2>p>a{
    float:right;
    font-size:14px;
}
#banner div.notice>div.d2>div>p{
    line-height:26px;
    margin-left:10px;
}
#banner div.notice>div.d3{
    width:100%;
    height:95px;
    background:#fff;
}
#banner div.notice>div.d3>div{
    float:left;
    display:inline-block;
    width:32.5%;
    height:100%;
    border-right:1px solid #ddd;
    text-align:center;
    position:relative;
}
#banner div.notice>div.d3>div.div_b3{
    border-right:none;
}
#banner div.notice>div.d3>div.div_b1>b{
     width:33px;
     height:35px;
     background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -38px -19px;
 }
#banner div.notice>div.d3>div.div_b2>b{
    width:36px;
    height:36px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -37px -55px;
}
#banner div.notice>div.d3>div.div_b3>b{
    width:37px;
    height:37px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -38px -93px;
}
#banner div.notice>div.d3>div>b{
    float:left;
    position:absolute;
    top:20px;
    left:20px;
}
#banner div.notice>div.d3>div>a{
    font-size:14px;
    position:relative;
    top:65px;
}

/**主体内容部分**/
#main{
    width:1190px;
    margin:0 auto;
    overflow:hidden;
}
#main>div.trade{
    width:100%;
}
#main>div.trade>p.trade_p{
    width:100%;
    height:50px;
    line-hegiht:30px;
    color:#484848;
    margin:0;
    padding:10px 0 10px 0;
    margin-top:5px;
}
#main>div.trade>p.trade_p>b{
    display:inline-block;
    width:5px;
    height:11px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -73px -35px;
}
#main>div.trade>p.trade_p>span{
    font-size:18px;
    margin:0 5px 0 5px;
}
#main>div.trade>p.trade_p>a{
    color:#FF8E01;
}

#main>div.trade>.trade_div{
    width:100%;
    height:414px;
}
#main>div.trade>.trade_div>img{
    float:left;
}
#main>div.trade>.trade_div>.tbody{
    float:left;
    width:930px;
    position:relative;
}
#main>div.trade>.trade_div>.tbody>ul{
    float:left;
    display:inline-block;
    width:100%;
    height:34px;
    background:#FF8E01;
    padding:0 5px 0 5px;
    position:absolute;
    top:0;
    left:0;
    z-index:50;
    font-size:16px;
}
#main>div.trade>.trade_div>.tbody>ul>li{
    float:left;
    width:16.6%;
    line-height:34px;
    text-align:center;
    color:#fff;
    border-right:1px solid #fff;
}
#main>div.trade>.trade_div>.tbody>ul>li:last-child{
    border-right:none;
}
#main>div.trade>.trade_div>.tbody>div{
    float:left;
    width:100%;
    height:380px;
    background:#f9f9f9;
    margin-top:34px;
    overflow:hidden;
}
#main>div.trade #details_div{
    width:100%;
    height:380px;
    float:left;
}
#main>div.trade #details_div>li{
    width:100%;
    height:38px;
    float:left;
    line-height:38px;
}
#main>div.trade #details_div>li>div{
    float:left;
    width:16.6%;
    text-align:center;
}
#main>div.trade #details_div>li>div>span{
    color:#FF8E01;
}
#main>div.trade #details_div>li>div>a{
    color:#1F91EA;
}

/**样品展示区**/
#main>.sample,#main>.brands{
    width:100%;
    overflow:hidden;
    margin-top:10px;
}
#main>.sample>img,#main>.brands>img{
    width:100%;
}
#main>.sample>p,#main>.brands>p{
    width:100%;
    height:50px;
    line-height:30px;
    border-bottom:1px solid #9A9A9A;
    padding-left:5px;
    margin:0;
    padding:10px 0;
    color:#333;
    font-size:12px;
}
#main>.sample>p>b,#main>.brands>p>b{
    display:inline-block;
    width:5px;
    height:11px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -73px -35px;
}
#main>.sample>p>span,#main>.brands>p>span{
    font-size:18px;
    margin:0 5px;
}
#main>.sample>.free{
    width:100%;
    overflow:hidden;
    margin-top:10px;
}
#main>.sample>.free .free_div{
    width:290px;
    height:200px;
    background:#F9F9F9;
    position:relative;
    font-size:14px;
}
#main>.sample>.free .free_div>div{
    width:120px;
    height:120px;
    position:absolute;
    top:10px;
    right:0;
}
#main>.sample>.free .border_animation:nth-child(4),#main>.sample>.free .border_animation:nth-child(8){
	margin-right:0;
}
#main>.sample>.free .free_div>p,#main>.sample>.free .free_div>h4,#main>.sample>.free .free_div>a,#main>.sample>.free .free_div>img{
    margin:0;
    padding:0;
    position:absolute;
    left:10px;
}
#main>.sample>.free .free_div>h4{
    bottom:40px;
}
#main>.sample>.free .free_div>p{
    bottom:65px;
}
#main>.sample>.free .free_div>a{
    bottom:10px;
    color:#fff;
    background:#284199;
    padding:0 5px;
}
#main>.sample>.free .free_div>img{
    width:150px;
    height:40px;
    top:20px;
}
#main>.sample>.free>.border_animation{
    width: 290px;
    height: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom:10px;
    position: relative;
}

.border_animation .border_top {
    position: absolute;
    height: 3px;
    width: 0; font-size: 0;
    background: #e4393c;
    top: 0; left: 0;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    z-index:100;
}
.border_animation .border_right { position: absolute;
    height: 0px; width: 3px;
    font-size: 0;
    background: #e4393c;
    bottom: 0; right: 0;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    z-index:100;
}
.border_animation .border_bottom {
    position: absolute;
    height: 3px; width: 0px;
    font-size: 0;
    background: #e4393c;
    right: 0; bottom: 0;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    z-index:100;
}
.border_animation .border_left { position: absolute;
    height: 0px; width: 3px;
    font-size: 0;
    background: #e4393c;
    left: 0; top: 0;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    z-index:100;
}
.hover .border_top,.hover .border_bottom { width: 290px}
.hover .border_left, .hover .border_right { height: 200px}
#main>.sample>.free>.animation4{
    margin-right:0;
}
/**合作品牌**/
#main>.brands>div.brands_details{
    width:100%;
    overflow:hidden;
    margin-bottom:10px;
}
#main>.brands>div.brands_details>div{
    float:left;
    display:inline-block;
    width:585px;
    height:140px;
    background:#F9F9F9;
    margin-right:20px;
    margin-top:20px;
    padding:10px 0 10px 10px;
}

#main div.brands_details>div.brand_con>.brand_c1{
    float:left;
    width:200px;
    height:120px;
    text-align:center;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/brand_c1.png") no-repeat;
}
#main div.brands_details>div.brand_con>.brand_c1>img{
    margin-top:30px;
    transition:transform 0.5s linear;
}
#main div.brands_details>div.brand_con>.brand_c1>img:hover{
    -webkit-transform:scale(1.08,1.08);
    -ms-transform:scale(1.08,1.08);
}
#main div.brands_details>div.brand_con>.brand_c2{
    float:left;
    margin-left:25px;
    height:100%;
}
#main div.brands_details>div.brand_con>.brand_c2>div{
    margin:0;
    padding-top:5px;
    line-height:28px;
    color:#333;
    width: 350px;
}
#main div.brands_details>div.brand_con>.brand_c2>div>b{
    display:inline-block;
    width:18px;
    height:16px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -81px -33px;
    margin-right:5px;
    margin-bottom:-3px;
}
#main div.brands_details>div.brand_con>.brand_c2>div>span{
    font-size:16px;
}
#main div.brands_details>div:nth-child(2),#main div.brands_details>div:nth-child(4){
    margin-right:0;
}
#main div.brands_details>div:nth-child(1),#main div.brands_details>div:nth-child(2){
    margin-top:10px;
}

/**页面底部**/
#floor{
    width:100%;
    margin-top:60px;
}
#floor>div.floor_h{
    width:100%;
    height:70px;
    background:#F9F9F9;
    border-top:1px solid #E4E4E4;
}
#floor>div.floor_h>p{
    width:1190px;
    margin:0 auto;
    height:69px;
    font-size:16px;
}
#floor>div.floor_h>p>b{
    display:inline-block;
    width:50px;
    height:50px;
    margin:9px 5px 0 150px;
    
}
#floor>div.floor_h>p>span{
    position:relative;
    top:-17px;
    color:#333;
}
#floor>div.floor_h>p>.floor_icon1{
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -86px -70px;
}
#floor>div.floor_h>p>.floor_icon2{
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -86px -121px;
}
#floor>div.floor_h>p>.floor_icon3{
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -86px -172px;
}
#floor>div.floor_b{
    width:100%;
    background:#333;
    padding-top:30px;
    overflow:hidden;
}
#floor>div.floor_b>ul,#floor>div.floor_b>div.serve{
    width:1190px;
    margin:0 auto;
    padding-left:50px;
    overflow:hidden;
}
#floor>div.floor_b>ul>li,#floor>div.floor_b>div.serve>ul{
    float:left;
    width:14.28%;
    border-left:1px solid #FF8900;
    color:#fff;
    padding-left:10px;
    font-weight:bold;
}
#floor>div.floor_b>div.serve>ul{
    border-left:0;
    margin-top:10px;
    font-weight:normal;
}
#floor>div.floor_b>div.serve>ul>li{
    line-height:35px;
}
#floor>div.floor_b>div.serve>ul>li>a{
    color:#fff;
    padding:3px 5px;
}
#floor>div.floor_b>div.serve>ul>li>a:hover{
    background:#000;
    border-radius:8px;
}
#floor>div.floor_b>.foot{
    width:900px;
    height:200px;
    margin:0 auto;
    margin-top:30px;
    overflow:hidden;
}
#floor>div.floor_b>.foot>div{
    float:left;
}
#floor>div.floor_b>.foot>div.foot1_img>img{
    width:200px;
    height:200px;
}
#floor>div.floor_b>.foot>p{
    float:left;
    color:#fff;
    margin:50px;
}
#floor>div.floor_b>.foot>p>span{
    line-height:40px;
}
#floor>div.floor_b>.foot>.foot_img{
    margin-top:80px;
}

#floor>.floor_f{
    width:500px;
    height:100px;
    margin:0 auto;
}
#floor>.floor_f>p{
    width:100%;
    text-align:center;
}
#floor>.floor_f>p>img:first-child{
    margin-bottom:-10px;
    margin-right:20px;
}
#floor>.floor_f>p>img:last-child{
    margin-left:10px;
}
/**固定栏**/
#fixed{
    width:30px;
    height:382px;
    position:fixed;
    z-index:500;
    top:200px;
    right:0;
}
#fixed>div{
    height:45%;
    background:#000;
    padding:10px 0;
}
#fixed>div.div1>b{
    display:block;
    width:27px;
    height:10px;
    margin-left:5px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat 0 -188px;
}
#fixed>div.div1>p{
    padding:10px 8px;
    padding-top:20px;
    border-top:1px solid #fff;
}
#fixed>div.div1>p>a>b{
    display:block;
    width:20px;
    height:20px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat 0 -199px;
    margin-bottom:10px;
    margin-left:-3px;
}
#fixed>div.div1>p>a{
    display:block;
    color:#fff;
}
#fixed>div.div1>p>a:hover{
    color:#ff6600;
}
#fixed>div.div2{
    border-top:1px solid #fff;
}
#fixed>div.div2>div{
    height:25%;
    padding:10px 0;
    margin-top:10px;
    position:relative;
}
#fixed>div.div2>div:nth-child(3){
    border-top:1px solid #fff;
    margin-top:15px;
    padding-top:12px;
}
#fixed>div.div2>div:hover{
    background:#FF4D00;
}

#fixed>div.div2>div.div_f1>a{
    display:block;
    width:22px;
    height:24px;
    margin-left:5px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -57px -190px;
}
#fixed>div.div2>div.div_f2>a{
    display:block;
    width:26px;
    height:20px;
    margin-left:3px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -58px -170px;
}
#fixed>div.div2>div.div_f2>b{
    float:left;
    width:160px;
    height:160px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/ewm.png") no-repeat;
    position:absolute;
    top:-50px;
    left:-180px;
    z-index:100;
    display:none;
}
#fixed>div.div2>div.div_f3>a{
    display:block;
    width:22px;
    height:22px;
    margin-left:5px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat 0 -221px;
}

#fixed>p{
    margin:0;
    height:32px;
    background:#000;
    padding:7px;
    margin-top:20px;
}
#fixed>p>a{
    display:block;
    width:16px;
    height:18px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/icon.png") no-repeat -59px -216px;
}
#header>.header_content>p.p_login>span{
	margin-right:10px;
	cursor:pointer;
	padding:0 5px;
	border-radius:8px;
}
#header>.header_content>p.p_login>span:hover{
	background:#FF8900;
	color:#fff;
}
 #header>.header_content>p.p_login>a{
  	margin-left:10px;
}
#header>.header_content>ul>li>ul.sul span a{
	color:#FF8E01;
}

#banner div.notice>div.d1_login>a.btn3{
	width:50%;
	text-align:center;
	position:absolute;
	bottom:10px;
	left:25%;
}
#banner div.notice>div.d1_login>p{
	margin-top:10px;
}
#banner div.notice>div.d1_login.d1{
	border:5px solid #FFBF2A;/*登录后多加一个边框，其余样式不变*/
}