*{
    box-sizing:border-box;
}
body{
    font-family:"微软雅黑","幼圆","黑体",sans-serif;
    color:#666;
    margin:0;
    padding:0;
}
#Imain p,#Imain ul,#Ifloor p,#Ifloor ul{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    color:#666;
    text-decoration:none;
}
.Ihead{
    width:100%;
}
.Ihead>p{
    width:1190px;
    margin:0 auto;
    height:40px;
    line-height:45px;
    border-bottom:1px solid #ddd;
    margin-bottom:10px;
}
.Ihead>img{
    width:100%;
    height:510px;
}
.Ihead>p>span{
    margin:0 12px;
}
.Ihead>p>a{
    color:#FF6600;
}
.Ihead>p>a.a1{
    color:#333;
}
#Imain{
    width:1190px;
    margin:0 auto;
}
#Imain>div.purpose{
    overflow:hidden;

}
#Imain>div.purpose>h1,#Imain>div.purpose>.pur_2>h1,#Imain>div.store>h1,#Imain>div.aptitude>h1,#Ifloor>div.contact>h1{
    width:150px;
    padding:8px 0;
    margin:0 auto;
    margin-top:20px;
    text-align:center;
    font-size:36px;
    font-weight:normal;
    color:#333333;
    border-bottom:2px solid #ff6600;
}
#Imain>div.purpose>.pur_1{
    width:100%;
    float:left;
    margin-top:60px;
}
#Imain>div.purpose>.pur_1>div{
    float:left;
    width:16.5%;
    height:160px;
    text-align:center;
    position:relative;
}
#Imain>div.purpose>.pur_1>div>span{
    font-size:24px;
    color:#3B3B3B;
    float:left;
    width:100%;
    position:absolute;
    bottom:5px;
    left:2px;
}
#Imain>div.purpose>.pur_2{
    float:left;
    width:100%;
    height:958px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/about/ph_01.jpg") no-repeat;
    clear:both;
    margin-top:20px;
}
#Imain>div.purpose>.pur_2>h1{
    color:#fff;
}
#Imain>div.purpose>.pur_2>div{
    width:100%;
    height:750px;
    background:rgba(255,255,255,0.9);
    margin-top:20px;
    padding:40px;
}
#Imain>div.purpose>.pur_2>div>p{
    color:#333;
    font-size:20px;
    line-height:40px;
}
#Imain>div.purpose>.pur_2>div>p>span{
    color:#ff6600;
}

#Imain>div.store{
    width:100%;
}
#Imain>div.store>div{
    margin-top:60px;
}
#Imain>div.store>div>img{
    margin-left:64px;
}
#Imain>div.store>div>img.first_img{
    margin-left:0;
}
#Imain>div.aptitude>div{
    margin:30px 0;
}
#Imain>div.aptitude>div>img{
    margin-left:64px;
    margin-top:30px;
}
#Imain>div.aptitude>div>img.first_img{
    margin-left:0;
}
#Ifloor{
    width:100%;
    height:430px;
    background:#FF8E01;
}
#Ifloor>div.contact{
    width:1190px;
    margin:0 auto;
    overflow:hidden;
}
#Ifloor>div.contact>h1{
    color:#fff;
    border-color:#fff;
}
#Ifloor>div.contact>div{
    float:left;
    width:350px;
    overflow:hidden;
    margin:30px 0 0 64px;
    text-align:center;
}
#Ifloor>div.contact>div.first_div{
    margin-left:0;
}
#Ifloor>div.contact>div>span{
    color:#fff;
    display:block;
    margin:10px 0;
}
#Ifloor>div.contact>div>p{
    float:left;
    margin-left:90px;
    color:#333;
    line-height:30px;
}
#Ifloor>div.contact>div>i{
    display:block;
    width:132px;
    height:132px;
    margin:15px auto;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/0913/about/ph_10.png") no-repeat;
}
