
/************************************************************************************
smaller than 980
*************************************************************************************/

@media screen and (max-width: 750px) {

.up_ad { display:none;}
.up { width:60%; margin:0 auto; min-width:350px; background:red }
.up_con div.up_up { width:282px; margin:0 auto; background:#fff; margin-top:48px; border:2px solid #dedede; padding:20px; clear:both; }


}

