body{
    font:12px "microsoft yahei",Arial,Helvetica,sans-serif;
    color:#333;
    margin:0;
    padding:0;
}
*{
    box-sizing:border-box;
}
ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
    list-style:none;
    margin:0;
    padding:0;
}
a{
    color:#333;
    text-decoration:none;
}
img{
    border:0;
}
a:hover{
    color:#ff6600;
}
.mybom{
	width:1190px;
	background:#F9F9F9;
	border:1px solid #FB8A00;
	margin:0 auto;
	margin-top:20px;
	padding:20px 20px 30px 20px;
}
.mybom .btn{
	width:324px;
	height:54px;
	background:#FF8901;
	box-shadow:2px 2px 3px #FD6C00 inset;
	border-radius:4px;
	padding:4px;
}
.mybom .btn>button{
	width:156px;
	height:46px;
	border:0;
	border-radius:4px;
	background:#FF8901;
	color:#fff;
	cursor:pointer;
	outline:none;
	font-size:14px;
}
.mybom .btn>button.active{
	background:#FDFDFD;
	color:#ff8901;
	box-shadow:1px 1px 2px #ccc;
}
.mybom div.download{
	width:380px;
	height:auto;
	margin:0 auto;
}
.mybom div.download>p{
	width:380px;
    height:70px;
    margin:0 auto;
    line-height:70px;
    padding-top:19px;
}
.mybom div.download>p>a{
	float:left;
    color:#fff;
    font-size:14px;
    width:100%;
    height:32px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/1019/btn01.png") no-repeat;
    line-height:32px;
    text-align:center;
}
.mybom div.download>p>a:hover{
	background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/1019/btn_h01.png") no-repeat;
}
.mybom div.download>div{
	width:380px;
	height:74px;
	border:1px solid #ff8901;
	background:#fff;
	position:relative;
}
.mybom div.download>div a{
	float:left;
    width:90px;
    height:20px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-10px;
    margin-left:-45px;
    text-align:center;
    line-height:25px;
    color:#aaa;
    font-size:14px;
    z-index:50;
}
.mybom div.download>div input{
	float:left;
    width:380px;
    height:76px;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    z-index:100;
    cursor:pointer;
}
.mybom div.download>div span{
	float:left;
    width:100%;
    height:30px;
    color:#e8e8e8;
    font-size:14px;
    text-align:center;
    line-height:30px;
    position:absolute;
    top:50%;
    margin-top:-15px;
    display:none;
}
.mybom div.download>div a b{
	float:left;
    width:20px;
    height:20px;
    background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/1019/icon02.png") no-repeat -52px -205px;
}
.mybom div.download>p.txt{
	line-height:30px;
	padding-top:10px;
	height:auto;
	width:450px;
}
.mybom div.download>p.txt b{
	font-size:14px;
}
.mybom div.download>p.txt span{
	color:#ff8901;
}

/*搜索结果*/
.mybom .matching{
	width:100%;
	height:auto;
	margin-top:25px;
}
.mybom .matching>h2{
	color:#FE8B00;
	font-size:28px;
	font-weight:normal;
}
.mybom .matching>div{
	width:760px;
	margin:0 auto;
	margin-top:25px;
}
.mybom .matching table{
	width:100%;
	height:auto;
	border-collapse: collapse;  
    border: none;  
    border:1px solid #FE8B00;
}
.mybom .matching table thead tr th{
	border:1px solid #FE8B00;
	height:36px;
	background:#fafafa;
}
.mybom .matching table thead tr th:first-child{
	width:36px;
	background:#fe8b00;
	color:#fff;
}
.mybom .matching table thead tr th:last-child{
	background:#fe8b00;
	color:#fff;
}
.mybom .matching table tbody td{
	height:46px;
	text-align:center;
	border:1px solid #fe8b00;
}
.mybom .matching table tbody td span{
	color:#fe8b00;
	font-size:14px;
}
.mybom .matching table tbody td a{
	color:#fe8b00;
	font-size:14px;
}
.mybom .matching table tbody tr td:last-child{
	background:#fafafa;
}
.mybom .matching>p{
	width:760px;
	height:34px;
	margin:0 auto;
	margin-top:10px;
}
.mybom .matching>p a{
	float:right;
	width:100px;
	height:32px;
	background:#FFA034;
	border-radius:4px;
	box-shadow:0px -2px 2px #FE6700 inset;
	line-height:32px;
	color:#fff;
	text-align:center;
	font-size:14px;
}
.mybom .matching>p a:hover{
    background:#FE6700;	
    box-shadow:0px -2px 2px #B24D08 inset;
}
.tanchu{
	float:left;
	position:absolute;
	top:0;left:0;
	width:100%;
	height:auto;
	background:rgba(0,0,0,0.4);
	z-index:500;
	padding-bottom:100px;
	display:none;
}
.tanchu>div{
	width:930px;
	border:1px solid #FF6600;
	margin:0 auto;
	margin-top:150px;
	background:#fff;
}
.tanchu>div>p{
	width:100%;
	height:40px;
	line-height:40px;
    background:#ff6600;
    font-size:14px;
    padding-left:100px;
    padding-right:30px;
    color:#fff;
    position:relative;
}
.tanchu>div>div{
	width:100%;
	height:1250px;
	overflow:hidden;
}
.tanchu>div>div>iframe{
	width:100%;
	height:1550px;
	overflow:hidden;
}
.tanchu>div>p a{
	float:right;
	color:#fff;
}
.tanchu>div>p b{
	position:absolute;
	top:-10px;
	right:-10px;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#fff;
	font-weight:normal;
	border-radius:50%;
	background:#676767;
	cursor:pointer;
}

/*逐条添加*/
.ctbomnew { display:none;width:930px;margin:0 auto; overflow:hidden;font-size:14px; color:#333; position:relative;margin-top:20px;}
.ctbomnew .cbmtop { width:100%; float:left; margin-top:17px; }
.ctbomnew .cbmtop .cbmtleft { width:50%; float:left;}
.ctbomnew .cbmtop .cbmtleft input {float:left; width:274px; padding-left:5px; border:1px solid #ff8901; border-right:0px; height:34px; line-height:34px;  font-size:14px; color:#333;}
.ctbomnew .cbmtop .cbmtleft a {float:left; width:80px; text-align:center; height:34px; line-height:34px; color:#fff; background:#ff8901;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 0px; /* Webkit browsers */
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 0; /* W3C syntax */
	border-top-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 0;
}

.ctbomnew .cbmtop dl.cbmtright { width:300px; float:right;}
.ctbomnew .cbmtop dl.cbmtright dd { width:100px; float:left; }
.ctbomnew .cbmtop dl.cbmtright dd a { float:right; width:80px; text-align:center; height:34px; line-height:34px; color:#fff; background:#ff8900; border-radius: 5px;}
.ctbomnew .cbmtop dl.cbmtright dd a:hover { float:right; width:80px; text-align:center; height:34px; line-height:34px; color:#fff; background:#ff6600; border-radius: 5px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;	
}
.ctbomnew .cbmtop dl.cbmtright dd.cbmra a { float:right; width:80px; text-align:center; height:34px; line-height:34px; color:#ff8901; background:#fff; border-radius: 5px; border:1px solid #ff8901;}
.ctbomnew .cbmtop dl.cbmtright dd.cbmra a:hover { float:right; width:80px; text-align:center; height:34px; line-height:34px; color:#fff; background:#f90; border-radius: 5px; border:1px solid #f90;}

.ctbomnew .cbnbomlist { width:100%; float:left; margin-top:30px; font-size:14px; color:#333;}
.ctbomnew .cbnbomlist dl.cbnbltc { width:100%; float:left; border-top:1px solid #dedede;border-bottom:1px solid #dedede; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/ctegobomupline.png) repeat-y left center;}
.ctbomnew .cbnbomlist dl.cbnbltc dt { width:100%; float:left; }
.ctbomnew .cbnbomlist dl.cbnbltc dt div { float:left; height:40px; line-height:40px; text-align:center; background:#f9f9f9 url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/ctegobomupline.png) repeat-y left center;}
.ctbomnew .cbnbomlist dl.cbnbltc dt div.cbnbltitlea { width:50px;}
.ctbomnew .cbnbomlist dl.cbnbltc dt div.cbnbltitlea input { height:16px; width:16px; border:1px solid #666; margin-top:12px;}
.ctbomnew .cbnbomlist dl.cbnbltc dt div.cbnbltitleb { width:250px; }
.ctbomnew .cbnbomlist dl.cbnbltc dt div.cbnbltitlec { width:170px;}
.ctbomnew .cbnbomlist dl.cbnbltc dt div.cbnbltitled { width:310px; }
.ctbomnew .cbnbomlist dl.cbnbltc dt div.cbnbltitlee { width:150px; border-right:1px solid #dedede;}

.ctbomnew .cbnbomlist dl.cbnbltc dd { width:100%; float:left; border-top:1px solid #dedede;  font-size:12px; color:#636363;}
.ctbomnew .cbnbomlist dl.cbnbltc dd div { float:left; height:40px; line-height:40px; background: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/img/ctegobomupline.png) repeat-y left center;}
.ctbomnew .cbnbomlist dl.cbnbltc dd div p { padding:0 10px; text-align:left; float:left;}
.ctbomnew .cbnbomlist dl.cbnbltc dd div.cbnblcona { width:50px; text-align:center;}
.ctbomnew .cbnbomlist dl.cbnbltc dd div.cbnblcona input { height:16px; width:16px; border:1px solid #666; margin-top:12px;}
.ctbomnew .cbnbomlist dl.cbnbltc dd div.cbnblconb { width:250px; }
.ctbomnew .cbnbomlist dl.cbnbltc dd div.cbnblconc { width:170px; color:#999; font-family:Arial;}
.ctbomnew .cbnbomlist dl.cbnbltc dd div.cbnblcond { width:310px; }
.ctbomnew .cbnbomlist dl.cbnbltc dd div.cbnblcone { width:150px; border-right:1px solid #dedede;}
.ctbomnew .cbnbomlist dl.cbnbltc dd div.cbnblcone p {padding-top:6px;}
.ctbomnew .cbnbomlist dl.cbnbltc dd div.cbnblcone p a { width:28px; height:28px; line-height:28px; color:#FFF; dispaly:block; float:Left; text-align:center; font-family:Arial; font-weight:normal;cursor: pointer;}
.ctbomnew .cbnbomlist dl.cbnbltc dd div.cbnblcone p a.cbconea { width:28px; height:28px; line-height:28px; background:#fc9; color:#FFF; dispaly:block; float:Left; text-align:center; font-size:22px;cursor: pointer;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 5px; /* Webkit browsers */
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 5px; /* W3C syntax */
	border-top-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 5px;
}.ctbomnew .cbnbomlist dl.cbnbltc dd div.cbnblcone p a.cbconeb { width:28px; height:28px; line-height:28px; background:#fc9; color:#FFF; dispaly:block; float:Left; text-align:center; font-size:20px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright: 0; /* Webkit browsers */
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 0; /* W3C syntax */
	border-top-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 0;
}

.ctbomnew .cbnbomlist dl.cbnbltc dd div.cbnblcone p a:hover { width:28px; height:28px; line-height:28px; background:#f60; color:#FFF; dispaly:block; float:Left; text-align:center; font-family:Arial; font-weight:normal;}
.ctbomnew .cbnbomlist dl.cbnbltc dd div.cbnblcone p input { width:73px; height:28px; border:1px solid #DDD; line-height:26px; color:#333; dispaly:block; float:Left; text-align:center; font-size:14px; border-left:0; border-right:0;}


.ctbomnew .cbnbomlist div.cbnblbot { width:100%; float:left; }
.ctbomnew .cbnbomlist div.cbnblbot ul { width:260px; float:right; margin-top:17px;}
.ctbomnew .cbnbomlist div.cbnblbot ul li { width:130px; float:left; }
.ctbomnew .cbnbomlist div.cbnblbot ul li a { float:right; width:110px; text-align:center; height:34px; line-height:34px; color:#fff; background:#ff8900; border-radius: 5px; cursor: pointer;}
.ctbomnew .cbnbomlist div.cbnblbot ul li a:hover { float:right; width:110px; text-align:center; height:34px; line-height:34px; color:#fff; background:#ff6600; border-radius: 5px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;	
}




