        .resource_load{
            box-sizing:border-box;
            font:12px "microsoft yahei",Arial,Helvetica,sans-serif;
            color:#333;
            margin:0;
            padding:0;
        }
        .resource_load{
            width:1190px;
            overflow:hidden;
            margin:0 auto;
        }
        .resource_load a{
            color:#333;
            text-decoration:none;
        }
        .resource_load .r_head{padding-left:10px; margin-top:10px;}
        .resource_load .r_head>span{
            color:#ff8900;
        }
        .resource_load .resource_con,.resource_load .resource_con *{
            box-sizing:border-box;
        }
        .resource_load .resource_con{
            width:100%;
            min-height:700px;
            border:1px solid #E5E5E5;
            margin-top: 15px;
        }
        .resource_load .resource_con h2{
            margin:0;
            padding:0;
            height:80px;
            line-height:80px;
            padding-left:20px;
            font-size:30px;
            font-weight:500;
            border-bottom:1px solid #E5E5E5;
        }
        .resource_load .resource_con ul{
            width:100%;
            float:left;
            margin:0;
            padding:0;
            list-style:none;
            padding-left:20px;
        }
        .resource_load .resource_con ul li{
            float:left;
            width:25%;
            padding:20px 20px 0 0;
            height:90px;
        }
        .resource_load .resource_con ul li>a{
            float:left;
            width:100%;
            height:100%;
            background:#F1F1F1;
            position:relative;
            border:1px solid transparent;
        }
        .resource_load .resource_con ul li>a:hover{
            border-color:#4FC3FF;
        }
        .resource_load .resource_con ul li>a b{
            float:left;
            width:9px;
            height:10px;
            position:absolute;
            top:30px;
            left:10px;
            background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/1019/icon02.png") no-repeat -363px -11px;
        }
        .resource_load .resource_con ul li>a>span{
            float:left;
            width:185px;
            height:32px;
            position:absolute;
            top:24px;
            left:25px;
            font-size:14px;
            color:#DB072F;
        }
        .resource_load .resource_con ul li>a div{
            float:right;
            position:absolute;
            top:0;
            right:0;
            width:55px;
            height:100%;
            background:#4FC3FF;
        }
        .resource_load .resource_con ul li>a div span{
            float:left;
            width:14px;
            height:100%;
            line-height:14px;
            color:#fff;
            font-size:14px;
            margin:6px 10px 0 10px;;
        }
        .resource_load .resource_con ul li>a div img{
            position:relative;
            top:22px;
        }
        .resource_load .pager_d ul{
            float:none;
            width:600px;
            margin:0 auto;
        }