#s-mail {
	BORDER-BOTTOM: #c4c4c4 1px solid; BORDER-LEFT: #c4c4c4 1px solid; MARGIN: 20px auto; WIDTH: 400px; BORDER-TOP: #c4c4c4 1px solid; BORDER-RIGHT: #c4c4c4 1px solid
}
#s-mail .mt {
	BORDER-BOTTOM: #c4c4c4 1px solid; LINE-HEIGHT: 26px; PADDING-LEFT: 8px; BACKGROUND: #f3f3f3; HEIGHT: 26px
}
#s-mail .mc {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 40px; PADDING-RIGHT: 40px; PADDING-TOP: 20px
}
#s-mail .item {
	POSITION: relative; LINE-HEIGHT: 65px; PADDING-LEFT: 75px; ZOOM: 1; HEIGHT: 65px; OVERFLOW: hidden
}
#s-mail .item SPAN {
	FONT-FAMILY: Arial; COLOR: #88cf88; FONT-SIZE: 24px
}
#s-mail .item S {
	POSITION: absolute; WIDTH: 70px; DISPLAY: inline-block; BACKGROUND: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg_service.gif) 0px 0px; HEIGHT: 65px; TOP: 1px; LEFT: 1px
}
#s-mail .cont {
	MARGIN: 20px 0px; COLOR: #999
}
#s-mail .btn {
	TEXT-ALIGN: center; LINE-HEIGHT: 21px
}
#s-mail .btn A {
	TEXT-ALIGN: center; WIDTH: 100px; DISPLAY: inline-block; BACKGROUND: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg_service.gif) 0px -70px; HEIGHT: 21px; TEXT-DECORATION: none
}
