@charset "gb2312";
*{padding:0px; margin:0px;}
ul,li{list-style:none;}
img{border:none;}
a{color:#ff6600;text-decoration:none;}
a:hover{color:#da082f;  text-decoration:none;}
html{color:#000; overflow-y:scroll;-webkit-text-size-adjust:none;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
i { font-family:Arial, Helvetica, sans-serif; font-style:normal; }
body { background:#ededed; font-family:"Microsoft YaHei"; width:100%;}


.header { width:100%; margin:0 auto; }
.header p { width:100%; float:left; text-indent:-9999px;}
.header p.zhu1 { width:100%; margin:0 auto; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/zhuh1.jpg) no-repeat center top; height:107px;}
.header p.zhu2 { width:100%; margin:0 auto; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/zhuh2.jpg) no-repeat center top; height:109px;}
.header p.zhu3 { width:100%; margin:0 auto; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/zhuh3.jpg) no-repeat center top; height:91px;}
.header p.zhu4 { width:100%; margin:0 auto; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/zhuh4.jpg) no-repeat center top; height:119px;}
.header p.zhu5 { width:100%; margin:0 auto; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/zhuh5.jpg) no-repeat center top; height:58px;}


.nav { width:100%; margin:0 auto; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/nav_bg.gif) repeat-x center center; height:50px; line-height:50px;}
.nav div.ant_all { width: 1035px; margin: 0 auto; }
.nav a { width:113px; float:left; display:block; margin:0 1px; height:50px; line-height:50px; text-align:center; color:#ffcc66; font-weight:bold;}
.nav a:hover { width:113px; float:left; display:block; margin:0 1px; height:50px; line-height:50px; text-align:center; color:#fff; }

.contant { width: 945px; background:#fff; margin: 0 auto; padding:15px 0;}

.contant div.lunbo { width:450px; float:left; height:465px; margin-left:15px; display:inline;}

.slidebox-01{width:448px;height:463px;overflow:hidden;position:relative;border:solid 1px #ddd; }
.slidepic-01{position:absolute;width:9999em;}/* 必要元素 */
.slidepic-01 li{height:463px;overflow:hidden;float:left;}
.slidebtn-01{position:absolute;bottom:10px;right:10px;float:right;}
.slidebtn-01 li{background:#fff;border:1px solid #D00000;cursor:pointer;float:left;font-family:arial;height:18px;line-height:18px;width:18px;margin:4px;text-align:center;color:#D00000;}
.slidebtn-01 li img { width:448px; height:463px;}
.slidebtn-01 li.current{background:#FF0000;border:1px solid #D00000;height:24px;line-height:24px;width:24px;margin:0 2px;color:#fff;font-weight:800;}

.contant div.siderbar { width:450px; float:left; margin-left:15px; display:inline;}
.contant div.siderbar h2 { width:390px; padding-left:40px; padding-right:20px; float:left; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/sider_bg.gif) no-repeat center top; font-size:16px; color:#fff; height:35px; font-weight:bold; padding-top:5px;}
.contant div.siderbar h2 i { font-weight:normal; font-size:14px; margin-left:10px;}
.contant div.siderbar h2 a { float:right; font-family:"SimSun"; font-size:12px; color:#fff; font-weight:normal; margin-top:2px; width:50px; text-align:center; line-height:20px; height:20px; display:block;}
.contant div.siderbar h2 a:hover { float:right; font-family:"SimSun"; font-size:12px; color:#fff; font-weight:normal; text-decoration:underline; margin-top:2px; width:50px; text-align:center; line-height:20px; height:20px; display:block;}
.contant div.siderbar ul { width:448px; float:left; border:1px solid #cccccc; font-size:14px; padding:8px 0; border-top:0px; }
.contant div.siderbar ul li { float:left; width:418px; padding:0 15px; line-height:28px; height:28px; }
.contant div.siderbar ul li a { color:#636363; font-family:"SimSun"; font-size:14px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/ic_1.gif) no-repeat left center; padding-left:10px; }
.contant div.siderbar ul li a:hover { color:#ff6600; font-family:"SimSun"; font-size:14px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/ic_1.gif) no-repeat left center; padding-left:10px; }
.contant div.siderbar ul li span { float:right; font-size:12px; color:#ccc; }

.contant div.siderbar_b { width:450px; float:left; margin-top:15px; display:inline;}

.contant div.botbar { width:915px; margin-top:15px; float:left; margin-left:15px; display:inline;}

.contant div.botbar h2 { width:855px; padding-left:40px; padding-right:20px; float:left; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/tong_bg.gif) no-repeat center top; font-size:16px; color:#fff; height:35px; font-weight:bold; padding-top:5px;}
.contant div.botbar h2 i { font-weight:normal; font-size:14px; margin-left:10px;}
.contant div.botbar h2 a { float:right; font-family:"SimSun"; font-size:12px; color:#fff; font-weight:normal; margin-top:2px; width:50px; text-align:center; line-height:20px; height:20px; display:block;}
.contant div.botbar h2 a:hover { float:right; font-family:"SimSun"; font-size:12px; color:#fff; font-weight:normal; text-decoration:underline; margin-top:2px; width:50px; text-align:center; line-height:20px; height:20px; display:block;}

.contant div.tong_b { width:913px; float:left; border:1px solid #cccccc; border-top:0px; font-size:14px; padding:8px 0; }
.contant div.botbar ul.lie { width:448px; float:left; font-size:14px; padding:8px 0; margin-left:5px; }
.contant div.botbar ul.lie li { float:left; width:418px; padding:0 15px; line-height:28px; height:28px; }
.contant div.botbar ul.lie li a { color:#636363; font-family:"SimSun"; font-size:14px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/ic_1.gif) no-repeat left center; padding-left:10px; }
.contant div.botbar ul.lie li a:hover { color:#ff6600; font-family:"SimSun"; font-size:14px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/ic_1.gif) no-repeat left center; padding-left:10px; }
.contant div.botbar ul.lie li span { float:right; font-size:12px; color:#ccc; }

.contant div.tong_c { width:915px; float:left; height:160px; border-top:0px; font-size:14px; padding:13px 0 8px 0; }

.bottom { width:100%; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bot_bg.gif) center top; height:85px; border-top:2px solid #ccc; font-family:"SimSun"; font-size:12px; }

.bottom div.ant_all { width: 950px; margin: 0 auto; }
.bottom div.ant_all div.banquan { width: 485px; float:left; color:#666; padding-top:20px;}
.bottom div.ant_all div.banquan p { line-height:25px;}

.bottom div.ant_all div.logo { width:234px; float:right; padding-top:24px; padding-right:20px;}

.contant div.liebar { width:250px; float:left; margin-left:15px; display:inline; }
.contant div.liebar h2 { width:190px; padding-left:40px; padding-right:20px; float:left; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/liet_bg.gif) no-repeat center top; font-size:16px; color:#fff; height:55px; font-weight:bold; padding-top:5px;}
.contant div.liebar h2 i { font-weight:normal; font-size:14px; display:block;}
.contant div.liebar h2 a { float:right; font-family:"SimSun"; font-size:12px; color:#fff; font-weight:normal; margin-top:2px; width:50px; text-align:center; line-height:20px; height:20px; display:block;}
.contant div.liebar h2 a:hover { float:right; font-family:"SimSun"; font-size:12px; color:#fff; font-weight:normal; text-decoration:underline; margin-top:2px; width:50px; text-align:center; line-height:20px; height:20px; display:block;}
.contant div.liebar ul.lie { width:248px; float:left; border:1px solid #cccccc; font-size:14px; padding:8px 0; border-top:0px; }
.contant div.liebar ul.lie li { float:left; width:218px; padding:0 15px; line-height:28px; height:28px; }
.contant div.liebar ul.lie li a { color:#636363; font-family:"SimSun"; font-size:14px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/ic_1.gif) no-repeat left center; padding-left:10px; }
.contant div.liebar ul.lie li a:hover { color:#ff6600; font-family:"SimSun"; font-size:14px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/ic_1.gif) no-repeat left center; padding-left:10px; }
.contant div.liebar div.guanggao { width:250px; float:left; margin-top:10px;}

.contant div.neirong { width:648px; border:1px solid #cccccc; float:right; margin-right:15px; display:inline; font-size:14px; padding-bottom:20px;}
.contant div.neirong h2 { width:100%; text-align:center; font-size:22px; color:#333; padding-top:20px; float:left;}
.contant div.neirong div.zhushi { width:618px; margin:0 15px; text-align:center; font-size:12px; background:#f9f9f9; font-family:"SimSun"; color:#969696; margin-top:20px; height:20px; line-height:20px; float:left;}
.contant div.neirong div.zhengwen { width:588px; margin:0 30px; text-align:left; font-size:14px;  font-family:"SimSun"; color:#969696; margin-top:20px; float:left;}
.contant div.neirong div.zhengwen p { padding-top:15px; line-height:24px;}

.contant div.neirong div.shxia { width:618px; margin:0 15px; text-align:left; font-size:12px; font-family:"SimSun"; color:#969696; margin-top:20px; float:left;}
.contant div.neirong div.shxia p { height:25px; line-height:25px;}
.contant div.neirong div.shxia a { width:603px; padding-left:15px; text-align:left; font-size:12px; margin-top:1px; font-family:"SimSun"; color:#969696; }


.contant div.liebiao { width:648px; border:1px solid #cccccc; float:right; margin-right:15px; display:inline; font-size:14px; padding-bottom:20px;}

.contant div.liebiao h2 { width:608px; padding-left:20px; padding-right:20px; float:left; background:#fff; font-size:16px; color:#333; height:35px; font-weight:bold; padding-top:15px; border-bottom:1px solid #ddd;}
.contant div.liebiao h2 i { font-weight:normal; font-size:14px; margin-left:10px; color:#999;}
.contant div.liebiao ul.souyou { width:648px; float:left; font-size:14px; padding:15px 0; border-top:0px; }
.contant div.liebiao ul.souyou li { float:left; width:618px; padding:0 15px; line-height:28px; height:28px; }
.contant div.liebiao ul.souyou li a { color:#636363; font-family:"SimSun"; font-size:14px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/ic_1.gif) no-repeat left center; padding-left:10px; }
.contant div.liebiao ul.souyou li a:hover { color:#ff6600; font-family:"SimSun"; font-size:14px; background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/ic_1.gif) no-repeat left center; padding-left:10px; }
.contant div.liebiao ul.souyou li span { float:right; font-size:12px; color:#ccc; }


.pager_d { width:618px; float:left; margin-top:15px; padding-top:15px; margin-left:15px; border-top:1px solid #eee; display:inline; }
.pager_d ul { float:left; height:25px; line-height:25px;}	
.pager_d ul li { float:left; height:25px; line-height:25px; }	
.pager_d ul li.shu_page { background:#dfdfdf; border:1px solid #dfdfdf; border-left:0px; margin:0 0 0 0px; height:24px; line-height:24px; display:inline;}
.pager_d ul li.shu_page a { height:24px; line-height:24px; width:24px; margin:0px 0 0 1px; text-align:center; font-size:14px; display:inline-block; float:left; background:#fff; color:#6d6d6d;}
.pager_d ul li.shu_page a:hover { height:24px; line-height:24px; width:24px; margin:0px 0 0 1px; text-align:center; font-size:14px; display:inline-block; float:left; background:#da082f; color:#fff;}
.pager_d ul li.f_page a { font-size:14px; height:24px; display:block; text-align:center; line-height:24px; width:70px; border:1px solid #dfdfdf;border-right:0; color:#6d6d6d;}
.pager_d ul li.f_page a:hover { font-size:14px; height:24px; display:block; text-align:center; line-height:24px; width:70px; border:1px solid #dfdfdf;border-right:0;  background:#fff url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/page_l_bg.gif) no-repeat -120px center; color:#c03;}
.pager_d ul li.n_page a { font-size:14px; height:24px; display:block; text-align:center; line-height:24px; width:70px; border:1px solid #dfdfdf;border-left:0; color:#6d6d6d;}
.pager_d ul li.n_page a:hover { font-size:14px; height:24px; display:block; text-align:center; line-height:24px; width:70px; border:1px solid #dfdfdf; border-left:0; background:#fff url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/page_r_bg.gif) no-repeat -15px center; color:#c03;}
.pager_d ul li.shu_page a.hover { height:24px; line-height:24px; width:24px; margin:0px 0 0 1px; text-align:center; font-size:14px; display:inline-block; float:left; background:#da082f; color:#fff;}

.pager_d ul li.shu_page span.kong_d { height:38px; line-height:38px; width:38px; margin:0px 0 0 1px; text-align:center; font-size:14px; display:inline-block; float:left; background:#fff; color:#ccc;}


/*-------- 淡隐淡现选项卡 --------*/
.row2{border:1px solid #E1E1E1;position:relative;width:300px;}
.row2 .JQ-slide{background:url(images/side_bg1.jpg) no-repeat center top;}
.row2 .JQ-slide-nav{float:none;overflow:hidden;zoom:1;padding:15px;}
.row2 .JQ-slide-nav li{float:left;display:inline;background:url(images/slide_navbg.gif) no-repeat -70px 0;width:69px;height:23px;text-align:center;color:6b6b6b;font-weight:bold;text-align:center;line-height:22px;cursor:pointer;margin-right:5px;}
.row2 .JQ-slide-nav li.on{background-position:0 0;color:white;}
.row2 .JQ-slide-nav li.on a:link, .row2 .JQ-slide-nav li.on a:visited, .row2 .JQ-slide-nav li.on a:hover, .row2 .JQ-slide-nav li.on a:active{color:white;}
.row2 .JQ-slide-content{position:relative;overflow:hidden;width:300px;height:120px;}
.row2 .JQ-slide-content .newsList{position:absolute;top:0;left:0;background:white;}
.w_ctr .JQ-slide{width:305px;height:190px;overflow:hidden;position:relative;}
.w_ctr .JQ-slide-content{position:absolute;}/*必须要的元素*/
.w_ctr .JQ-slide-content li{width:305px;height:190px;float:left;display:inline;position:relative;}
.w_ctr .JQ-slide-content li img{width:305px;height:190px;}
.w_ctr .JQ-slide-content li span{display:block;background:black;color:white;font-size:14px;font-weight:bold;padding:0 14px;line-height:28px;position:absolute;bottom:5px;left:0;z-index:10;width:275px;overflow:hidden;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;}
.w_ctr .JQ-slide-nav{position:absolute;bottom:14px;right:8px;z-index:30;}
.w_ctr .JQ-slide-nav li{float:left;display:inline;background:url(images/focus_li.png) no-repeat;width:10px;height:10px;text-indent:-999em;overflow:hidden;cursor:pointer;margin-right:5px;}
.w_ctr .JQ-slide-nav li.on{background-position:-15px 0;}

.hotPic{margin:0 0 0 16px; float:left;}
.hotPic .JQ-slide{position:relative;width:810px;height:142px;margin:0 0 15px 0;background:#f9f9f9;padding:10px 35px;}
.hotPic .JQ-slide .wrap{width:810px;height:142px;overflow:hidden;position:relative;}
.hotPic .JQ-slide-content{position:absolute;}/*必须要的元素*/
.hotPic .imgList li{width:152px;margin:0 5px;}
.hotPic .imgList img{width:140px;height:100px;}
.hotPic .imgList .txt{height:30px;line-height:30px;}
.hotPic .JQ-slide-nav a{display:block;z-index:99;width:48px;height:48px;overflow:hidden;text-indent:-999em;text-decoration:none;position:absolute;top:40px;background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/arrow_pic.png) no-repeat;}
.hotPic .JQ-slide-nav a.prev{left:-20px;background-position:0 0;}
.hotPic .JQ-slide-nav a.prev:hover{background-position:-100px 0;}
.hotPic .JQ-slide-nav a.next{right:-20px;background-position:-50px 0;}
.hotPic .JQ-slide-nav a.next:hover{background-position:-150px 0;}
/* imgList */
.imgList{float:none;overflow:hidden;zoom:1}
.imgList li{float:left;display:inline;overflow:hidden;}
.imgList li a{display:block;}
.imgList li .img{border:1px solid #d8d8d8;padding:5px;}
.imgList li a.img:hover{border-color:#b70000;}
.imgList li .txt{text-align:center;overflow:hidden;}



.clear { clear:both;}