@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;text-decoration:none;}
/* 清理浮动 */
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.fn-clear{zoom:1; /* for IE6 IE7 */}
.fl{float:left;}
.fr{float:right;}
.mt10{ margin-top:10px;}
.hide{display:none;}
body { font-size:12px;}
.w1020{width:243px;margin:0 auto;}

/* headNav */
.headNav{height:44px;}
.headNav .navCon{height:44px;position:relative;z-index:11;}
.headNav .navCon .navCon-cate{width:241px;height:43px;line-height:43px;font-size:14px; font-weight:bold; background:#ff8a00;/*#A21C1D*/ color:#666; border-top:2px solid #ba0a2b; border-left:1px solid #ba0a2b;border-right:1px solid #ba0a2b; margin:0; padding:0;}


.headNav .navCon .navCon-cate .navCon-cate-title{background:url("https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/arrow_ico.gif") no-repeat 30px top; text-align: center; padding:0; margin:0;width:243px; }
.headNav .navCon .navCon-cate .hover{background-position:30px -44px;}
.headNav .navCon .navCon-cate .navCon-cate-title a{color:#ffffff; padding:0; margin:0; font-family:"Microsoft YaHei"; font-size:17px; font-weight:normal;}
.headNav .navCon .navCon-cate .navCon-cate-title a:hover{text-decoration:none; padding:0; margin:0; }

.headNav .navCon .navCon-cate .cateMenu {font-family:"Microsoft YaHei"; background:#ba0a2b; width:243px; border-top:0;}
.headNav .navCon .navCon-cate .cateMenu ul.ct_left_bar { float:left; position:relative; width:241px; margin-left:-1px; border:1px solid #ba0a2b; top:0; left:0;}
.headNav .navCon .navCon-cate .cateMenu li{width:241px; overflow:hidden; background:#ba0a2b url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/zhuang_list_d.gif) no-repeat 15px center; color:#fff;}
.headNav .navCon .navCon-cate .cateMenu li span { color:#333; font-family:Arial, Helvetica, sans-serif; padding-left:5px;}
.headNav .navCon .navCon-cate .cateMenu li div.cate-tag a { color:#fff;width:241px; height:46px; line-height:46px; display:block; font-family:"Microsoft YaHei";}
.headNav .navCon .navCon-cate .cateMenu li div.cate-tag a:hover { color:#333; font-family:"Microsoft YaHei";}
.headNav .navCon .navCon-cate .cateMenu li .cate-tag {width:201px; padding:0px 0px 0px 35px; height:46px; line-height:46px;overflow:hidden; font-weight:normal; font-family:"Microsoft YaHei";}
.headNav .navCon .navCon-cate .cateMenu li .cate-tag .listModel{text-indent:0px;}
.headNav .navCon .navCon-cate .cateMenu li .cate-tag .listModel p{height:26px;}
.headNav .navCon .navCon-cate .cateMenu li .cate-tag .listModel a{font-size:12px;font-weight:normal;color:#e1bdbd;text-indent:0px;padding:0 11px 0 0;}

.headNav .navCon .navCon-cate .cateMenu .on {background:#f7f7f7 url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/zhuang_list_d1.gif) no-repeat 15px center; color:#da082f; width:243px; z-index:999; }
.headNav .navCon .navCon-cate .cateMenu .on div.cate-tag a {background:#f7f7f7 url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/zhuang_list_d1.gif) no-repeat 15px center; color:#da082f; width:243px; z-index:999;}

.float-list-dnav{background:#fff;clear:both;font-size:14px;font-weight:bold; width:231px; height:47px;line-height:47px; margin-top:15px; padding-left:8px; }
.float-list-dnav span { width:105px; height:33px; float:left; margin:0; display:inline; padding:0;}
.float-list-dnav a {color:#fff; background:#db082f; width:105px; height:33px; line-height:33px; border-radius:3px; display:block; text-align:center; padding:0; margin:0; text-indent:0;}
.float-list-dnav a.bomdan_d {color:#fff; background:#1374d6; width:105px; height:33px; line-height:33px; border-radius:3px; display:block; text-align:center; padding:0; margin:0; text-indent:0;}
.float-list-dnav a:hover{color:#ffffff; background:#ff8a00; width:105px; height:33px; line-height:33px; border-radius:3px; display:block;}

.headNav .navCon .navCon-cate .cateMenu li div.list-item {width:683px; padding:10px 10px 0px 0px;border:1px solid #ba0a2b; min-height:220px; background:#f7f7f7; position:absolute; left:241px; z-index:50; margin-top:-1px; }
.headNav .navCon .navCon-cate .cateMenu .list-item dl{padding-left:10px;}
.headNav .navCon .navCon-cate .cateMenu .list-item dt{color:#665446;font-size:14px;text-indent:0px;border-bottom:2px solid #665446;margin-bottom:8px;font-family:"Microsoft YaHei";}
.headNav .navCon .navCon-cate .cateMenu .list-item dd{font-size:12px;font-weight:normal;text-indent:0px;line-height:26px;font-family:"Microsoft YaHei";}


.headNav .navCon .navCon-cate .cateMenu .list-item dd div.ct_t_pp { width:100%; float:left; padding-bottom:10px; }
.headNav .navCon .navCon-cate .cateMenu .list-item dd div.ct_t_pp a { display:block; float:left; margin:0 1px 0 0; display:inline;}

.headNav .navCon .navCon-cate .cateMenu .list-item dd div.ct_t_er { width:100%; float:left; }
.headNav .navCon .navCon-cate .cateMenu .list-item dd div.ct_t_er div.ct_t_jt { width:140px; float:left; margin-top:8px; height:24px; line-height:24px; padding-right:10px; }
.headNav .navCon .navCon-cate .cateMenu .list-item dd div.ct_t_er div.ct_t_jt a.jt_ni { background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/ct_b_jt.gif) no-repeat center right; padding-right:15px; color:#636363; font-weight:bold; float:right; text-align:right;}
.headNav .navCon .navCon-cate .cateMenu .list-item dd div.ct_t_er div.ct_t_jt a.jt_ni:hover { background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/ct_b_jt.gif) no-repeat center right; padding-right:15px; color:#636363; font-weight:bold; float:right; text-align:right; text-decoration:underline;}
.headNav .navCon .navCon-cate .cateMenu .list-item dd div.ct_t_er div.ct_t_ne { width:500px; float:left; border-bottom:1px solid #e8e8e8; padding:4px 5px; margin-top:7px; }

.headNav .navCon .navCon-cate .cateMenu .list-item dd div.ct_t_er div.ct_t_ne a { display:block; float:left; padding:0 12px 0 14px; color:#666; height:20px; line-height:20px; }
.headNav .navCon .navCon-cate .cateMenu .list-item dd div.ct_t_er div.ct_t_ne a:hover { display:block; float:left; padding:0 12px 0 14px; color:#da082f; height:20px; line-height:20px; }
.headNav .navCon .navCon-cate .cateMenu .list-item dd div.ct_t_er div.ct_t_ne span.ct_line_t { border-left:1px solid #e8e8e8; display:block; height:12px; float:left; margin-top:4px; margin-bottom:8px;}


.headNav .navCon .navCon-cate .cateMenu .list-item .itemright .news-list{padding-left:10px;}
.headNav .navCon .navCon-cate .cateMenu .list-item .itemright .news-list p{line-height:24px;text-indent:0px;font-size:12px;font-weight:normal;color:#000;}
.headNav .navCon .navCon-cate .cateMenu .list-item .itemright .news-list p a{color:#646464;}
.headNav .navCon .navCon-cate .cateMenu .list-item .itemright .news-list p a:hover{color:#000;}

.headNav .navCon .navCon-cate .cateMenu .list-item .itemright .ad-list{padding-left:10px;}
.headNav .navCon .navCon-cate .cateMenu .list-item .itemright .ad-list a{display:block;width:245px;height:100px;text-indent:0px;margin-bottom:8px;overflow:hidden;}



.headNav .navCon .navCon-cate .cateMenuindex {font-family:"Microsoft YaHei"; background:#ba0a2b; width:243px; border-top:0;}
.headNav .navCon .navCon-cate .cateMenuindex ul.ct_left_bar { float:left; position:relative; width:241px; margin-left:-1px; border:1px solid #ba0a2b; top:0; left:0;}
.headNav .navCon .navCon-cate .cateMenuindex li{width:241px; overflow:hidden; background:#ba0a2b url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/zhuang_list_d.gif) no-repeat 15px center; color:#fff;}
.headNav .navCon .navCon-cate .cateMenuindex li span { color:#333; font-family:Arial, Helvetica, sans-serif; padding-left:5px;}
.headNav .navCon .navCon-cate .cateMenuindex li div.cate-tag a { color:#fff;width:241px; height:46px; line-height:46px; display:block; font-family:"Microsoft YaHei";}
.headNav .navCon .navCon-cate .cateMenuindex li div.cate-tag a:hover { color:#da082f; font-family:"Microsoft YaHei";}
.headNav .navCon .navCon-cate .cateMenuindex li .cate-tag {width:201px; padding:0px 0px 0px 35px; height:46px; line-height:46px;overflow:hidden; font-weight:normal; font-family:"Microsoft YaHei";}
.headNav .navCon .navCon-cate .cateMenuindex li .cate-tag .listModel{text-indent:0px;}
.headNav .navCon .navCon-cate .cateMenuindex li .cate-tag .listModel p{height:33px;}
.headNav .navCon .navCon-cate .cateMenuindex li .cate-tag .listModel a{font-size:12px;font-weight:normal;color:#e1bdbd;text-indent:0px;padding:0 11px 0 0;}

.headNav .navCon .navCon-cate .cateMenuindex .on {background:#f7f7f7 url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/zhuang_list_d1.gif) no-repeat 15px center; color:#da082f; width:243px; z-index:999; }
.headNav .navCon .navCon-cate .cateMenuindex .on div.cate-tag a {background:#f7f7f7 url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/zhuang_list_d1.gif) no-repeat 15px center; color:#da082f; width:243px; z-index:999;}

.float-list-dnav{background:#fff;clear:both;font-size:14px;font-weight:bold; width:231px; height:47px;line-height:47px; margin-top:15px; padding-left:8px; }
.float-list-dnav span { width:105px; height:33px; float:left; margin:0; display:inline; padding:0;}
.float-list-dnav a {color:#fff; background:#db082f; width:105px; height:33px; line-height:33px; border-radius:3px; display:block; text-align:center; padding:0; margin:0; text-indent:0;}
.float-list-dnav a.bomdan_d {color:#fff; background:#1374d6; width:105px; height:33px; line-height:33px; border-radius:3px; display:block; text-align:center; padding:0; margin:0; text-indent:0;}
.float-list-dnav a:hover{color:#ffffff; background:#ff8a00; width:105px; height:33px; line-height:33px; border-radius:3px; display:block;}

.headNav .navCon .navCon-cate .cateMenuindex li div.list-item {width:683px; padding:0px 10px 20px 0px;border:1px solid #ba0a2b; min-height:210px; background:#f7f7f7; position:absolute; left:241px; z-index:50; margin-top:-1px; }
.headNav .navCon .navCon-cate .cateMenuindex .list-item dl{padding-left:10px;}
.headNav .navCon .navCon-cate .cateMenuindex .list-item dt{color:#665446;font-size:14px;text-indent:0px;border-bottom:2px solid #665446;margin-bottom:8px;font-family:"Microsoft YaHei";}
.headNav .navCon .navCon-cate .cateMenuindex .list-item dd{font-size:12px;font-weight:normal;text-indent:0px;line-height:26px;font-family:"Microsoft YaHei";}


.headNav .navCon .navCon-cate .cateMenuindex .list-item dd div.ct_t_pp { width:100%; float:left; padding-bottom:10px; }
.headNav .navCon .navCon-cate .cateMenuindex .list-item dd div.ct_t_pp a { display:block; float:left; margin:0 1px 0 0; display:inline;}

.headNav .navCon .navCon-cate .cateMenuindex .list-item dd div.ct_t_er { width:100%; float:left; }
.headNav .navCon .navCon-cate .cateMenuindex .list-item dd div.ct_t_er div.ct_t_jt { width:80px; float:left; margin-top:8px; height:24px; line-height:24px; padding-right:10px; }
.headNav .navCon .navCon-cate .cateMenuindex .list-item dd div.ct_t_er div.ct_t_jt a.jt_ni { background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/ct_b_jt.gif) no-repeat center right; padding-right:15px; color:#636363; font-weight:bold; float:right; text-align:right;}
.headNav .navCon .navCon-cate .cateMenuindex .list-item dd div.ct_t_er div.ct_t_jt a.jt_ni:hover { background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/ct_b_jt.gif) no-repeat center right; padding-right:15px; color:#636363; font-weight:bold; float:right; text-align:right; text-decoration:underline;}
.headNav .navCon .navCon-cate .cateMenuindex .list-item dd div.ct_t_er div.ct_t_ne { width:560px; float:left; border-bottom:1px solid #e8e8e8; padding:4px 5px; margin-top:7px; }

.headNav .navCon .navCon-cate .cateMenuindex .list-item dd div.ct_t_er div.ct_t_ne a { display:block; float:left; padding:0 12px 0 14px; color:#666; height:20px; line-height:20px; }
.headNav .navCon .navCon-cate .cateMenuindex .list-item dd div.ct_t_er div.ct_t_ne a:hover { display:block; float:left; padding:0 12px 0 14px; color:#da082f; height:20px; line-height:20px; }
.headNav .navCon .navCon-cate .cateMenuindex .list-item dd div.ct_t_er div.ct_t_ne span.ct_line_t { border-left:1px solid #e8e8e8; display:block; height:12px; float:left; margin-top:4px; margin-bottom:8px;}


.headNav .navCon .navCon-cate .cateMenuindex .list-item .itemright .news-list{padding-left:10px;}
.headNav .navCon .navCon-cate .cateMenuindex .list-item .itemright .news-list p{line-height:24px;text-indent:0px;font-size:12px;font-weight:normal;color:#000;}
.headNav .navCon .navCon-cate .cateMenuindex .list-item .itemright .news-list p a{color:#646464;}
.headNav .navCon .navCon-cate .cateMenuindex .list-item .itemright .news-list p a:hover{color:#000;}

.headNav .navCon .navCon-cate .cateMenuindex .list-item .itemright .ad-list{padding-left:10px;}
.headNav .navCon .navCon-cate .cateMenuindex .list-item .itemright .ad-list a{display:block;width:245px;height:100px;text-indent:0px;margin-bottom:8px;overflow:hidden;}


.slidebox-01{width:684px;height:223px;overflow:hidden;position:relative;border:solid 1px #ddd; }
.slidepic-01{position:absolute;width:9999em;}/* 必要元素 */
.slidepic-01 li{height:223px;overflow:hidden;float:left;}
.slidebtn-01{position:absolute;bottom:10px;right:10px;float:right;}
.slidebtn-01 li{background:#fff;border:1px solid #D00000;cursor:pointer;float:left;font-family:arial;height:18px;line-height:18px;width:18px;margin:4px;text-align:center;color:#D00000;}
.slidebtn-01 li img { width:448px; height:463px;}
.slidebtn-01 li.current{background:#FF0000;border:1px solid #D00000;height:24px;line-height:24px;width:24px;margin:0 2px;color:#fff;font-weight:800;}













