/*
 *
 * Template Name: Fullscreen Responsive Register Template
 * Template URI: http://azmind.com
 * Author: Anli Zaimi
 * Author URI: http://azmind.com
 *
 */

.clear { clear:both}
body {
    background: #f8f8f8;
    text-align: left;
    font-family:'Microsoft YaHei', 'PT Sans', Helvetica, Arial, sans-serif;
    color: #555;
    font-weight: 400;
}

strong { font-weight: 700; }
.red { color: #eb4141; }
a:hover { text-decoration: none; }
.text2{width: 50%;
    height: 30px;}
* { margin:0 ; padding:0;}
.header {
    margin: 0 auto;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    border-top: 3px solid #eb4141;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
}
ol,ul,dl{list-style:none;margin:0;padding:0;}

.logo h1 {
    padding-left: 50px;
    font-family: 'Oleo Script', cursive;
    font-size: 1.2em;
    font-weight: bold;
	padding-bottom:12px;
}

.logo h1 a { color: #555; }


.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}

h1,h2,h3,h4,h5,h6{margin:10px 0;font-family:inherit;font-weight:bold;line-height:20px;color:inherit;text-rendering:optimizelegibility;}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:normal;line-height:1;color:#999999;}
h1,h2,h3{line-height:40px;}



/* ----- iPhone ----- */

.iphone {
    text-align: right;
}

.iphone img { margin-right: 10px; }

/* ----- Registration Form ----- */

.register form {
    padding: 5px 3% 20px 3%;
	width:94%;
    background: #f8f8f8;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
	margin-top:25px;
}

.register form h2 {
    padding-bottom: 8px;
    border-bottom: 1px dotted #bbb;
    font-size: 1.4em;
    font-weight: blod;
    text-align: left;
	color:red;
	float:left;
    width:100%;
}
h1{font-size:38.5px;}

.register form button {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 25px;
    padding: 0;
    background: #eb4141;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
	
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.register form button:hover {
    -moz-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
    -webkit-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
    box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
}

.register form button:active {
    -moz-box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
    box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
}
.yhzl { width:100%; float:left; margin:0;}
.yhzl li { width:100%; float:left; border-bottom:1px solid #ccc; padding:0.6em 0;}
.yhzl li span.yhzltit { width:29%; padding-right:3%; float:left; text-align:right;display:block; font-size:1.1em; line-height:1.6em; font-weight:bold; border-right:1px solid #ddd;}
.yhzl li span.yhzlcon { width:60%; float:left; padding-left:5%; padding-right:2%; display:block; font-size:1.1em; line-height:1.6em;}
.footer { text-align:center; color:#636363; padding-bottom:15px; font-family:Arial, Helvetica, sans-serif; font-size:0.8em; margin-top:25px; line-height:20px;}
.yhzl li input { width:96%; border:1px solid #ccc; margin:0 auto; padding:0; height:38px; line-height:38px; padding-left:3%;font-size:1.0em; 
    -moz-box-shadow: 0 0px 5px #ddd inset;
    -webkit-box-shadow: 0 0px 5px #ddd inset;
    box-shadow:  0 0px 5px #ddd inset;
}


.yhzc { width:100%; float:left; margin:0; }
.yhzc dd { width:100%; float:left; margin:0; padding:10px 0 5px 0;}
.yhzc dd.zcbotline { width:100%; float:left; margin:0; height:32px;padding-top:20px; }

.yhzc dd span.yhzltit { width:58%; float:left; font-size:1.0em; font-weight:normal; height:26px; line-height:26px; }
.yhzc dd span.yhzlcon select{ width:70%; border:1px solid #ccc; float:right;height:30px; line-height:30px; }
.yhzc dd input { width:100%; border:0px solid #ccc; margin:0 auto; padding:0; height:38px; line-height:38px; padding-left:3%;border-radius: 5px;font-family:'Microsoft YaHei', 'PT Sans';font-size:1.0em;}

 
.yhzc dd button { width:100%;}
.yhzc dd.shsub input { width:100%;}

.yhzc dd span.yhzlleibie { width:50%; float:left; display:block; }
.yhzc dd span.yhzlleibie input { width:100%; border:0px solid #ccc; margin:0 auto; padding:0; height:38px; line-height:38px; padding-left:5%;font-family:'Microsoft YaHei', 'PT Sans';font-size:1.0em; }
.yhzc dd span.yzmclass { width:48%; display:block; float:right; margin:0 auto; padding:0; height:38px; line-height:38px; background:#F60; color:#FFF;border-radius: 5px; text-align:center;text-decoration: none;}
.yhzc dd span.yzmdisable { width:48%; display:block; float:right; margin:0 auto; padding:0; height:38px; line-height:38px; background:#ccc; color:#FFF;border-radius: 5px; text-align:center;text-decoration: none;}
.clear { clear:both;}

.regtips { padding:10px 10px; line-height:26px; font-size:18px;}
.regtips span.tipsred{ color:red; font-size:20px;}

/* ----- Media queries ----- */

@media (max-width: 1200px) {

    .register form h2 { background:none; }

}

@media (min-width: 768px) and (max-width: 979px) {

    .register form h2 { background: none; }

}

@media (max-width: 767px) {

    body { padding-left: 0; padding-right: 0; }

    .logo, .links { text-align: center; }

    .links { padding-bottom: 5px; }

    .logo h1 { padding-left: 0; }

    .links a.home { margin-left: 0; }

    .links a.blog { margin-right: 0; }

    .register-container { padding-left: 20px; padding-right: 20px; }

    .register form h2 { background: none; }

    .iphone img { display: none; }

}

@media (max-width: 480px) {

    .register form button { width: 97%; }

}


