
:focus {
	outline:0;
}
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
/* Globe Font Control */
.head {
	background-color: #F7F7F7;
	height: 106px;
}
.head-cont {
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 960px;
}
h1 {
	float: left;
	height:82px;
	line-height:82px;
}
.logo, .logo-des, .ctrl-l, .ctrl-r {
	text-indent: -99em;
}
.logo {
	background: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/logo.png) no-repeat;
	display: inline-block;
.display:block;
.float:left;
	height: 62px;
	margin-top: 20px;
	width: 213px;
}
.logo-des {
	background: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/logo_des.png) no-repeat;
	display: inline-block;
.display:block;
.float:left;
	height: 24px;
*margin-top:40px;
	margin-left: 12px;
	width: 231px;
}
.top-nav {
	float: right;
	font-size: 0;
	margin-top: 29px;
	position: relative;
	z-index: 1;
}
.top-nav a {
	color: #000;
	cursor:pointer;
	display: inline-block;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	width: 111px;
	padding-right:4px;
}
.top-nav a.current {
	background:url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/top_nav_active.png) no-repeat;
	color: #fff;
}
.main {
	margin: 0 auto;
	width: 960px;
}
.pro-switch {
	height: 219px;
	overflow: hidden;
	position: relative;
	width:203px;
}
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.flexslider .slides img {
	width: 100%;
	display: block;
}
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 450px;
}
.no-js .slides > li:first-child {
	display: block;
}
.flexslider {
	position: relative;
	width:203px;
	zoom: 1;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.flexslider .slides {
	zoom: 1;
}
.flex-direction-nav {
*height: 0;
}
.flex-direction-nav a {
	width: 40px;
	height: 90px;
	margin: -40px 0 0;
	display: block;
	background: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/ad_ctr.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
	filter:alpha(opacity=0);
-webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
	background-position: 0 -90px;
	right: 0;
}
.flex-direction-nav .flex-prev {
	left: 0;
}
.flexslider:hover .flex-next {
	opacity: 0.8;
	filter:alpha(opacity=25);
}
.flexslider:hover .flex-prev {
	opacity: 0.8;
	filter:alpha(opacity=25);
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
	filter:alpha(opacity=50);
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}
.flex-control-nav li {
	margin: 0 5px;
	display: inline-block;
	zoom: 1;
*display: inline;
}
.flex-control-paging li a {
	background: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/dot.png) no-repeat 0 -14px;
	display:block;
	height: 16px;
	overflow: hidden;
	text-indent:-99em;
	width: 14px;
	cursor: pointer;
}
.flex-control-paging li a.flex-active {
	background-position: 0 0;
}
#j_tslm {
	border-bottom:1px solid #E2E2E3;
	margin-top:22px;
	overflow:hidden;
	padding-bottom:40px;
*padding-bottom:20px;
}
.mod-tit {
	background: no-repeat;
	color:#303236;
	font-size: 28px;
	height: 50px;
	line-height: 50px;
	margin:32px 0;
	padding-left: 60px;
}
.tszl {
	background-image: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/tit_tslm.png);
}
.about {
	background-image: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/tit_about.png);
}
.pro-list {
	font-size: 0;
}
.pro-list li {
	background-color: #11b4fe;
	border: 4px solid #d3d5db;
	display: inline-block;
*float:left;
	height: 120px;
	margin-right: 38px;
	width: 120px;
}
.pro-list li.last {
	margin-right: 0;
}
.news-mod-cont {
	background-color: #f7f7f7;
	overflow: hidden;
	padding: 30px;
	_zoom: 1;
}
.news-mod {
	width: 342px;
}
.news-mod-tit {
	background: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/line.png) no-repeat 0 100%;
	color: #3e3f43;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 15px;
	padding-bottom: 12px;
}
.more, .fr {
	float: right;
}
.more {
	color: #168eff;
	text-decoration: none;
}
.fl {
	float: left;
}
.date {
	color: #7b7b7b;
	float: right;
}
.txt-list li, .news-list li {
	color: #3e3f43;
	display: block;
	padding: 6px 0;
}
.news-list li a, .txt-list li a {
	color: #2c6ba6;
	text-decoration: none;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}
#j_tslm ul li {
	width: 128px;
	height: 128px;
	border: 0;
	background-color: transparent;
}
#j_tslm ul a {
	width: 128px;
	height: 128px;
	display: block;
	position: relative;
	z-index: 0;
	text-decoration: none
}
#j_tslm ul div {
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 120px;
	border: 4px solid #d3d5db;
}
#j_tslm a .front {
	z-index: 2;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
-webkit-transition: -webkit-transform .3s linear;
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
-moz-transition: -moz-transform .3s linear;
	-o-transform-style: preserve-3d;
	-o-backface-visibility: hidden;
-o-transition: -moz-transform .3s linear;
}
#j_tslm a .back {
	z-index: 1;
	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
-webkit-transition: -webkit-transform .3s linear;
	-moz-transform: rotateY(-180deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
-moz-transition: -moz-transform .3s linear;
	-o-transform: rotateY(-180deg);
	-o-transform-style: preserve-3d;
	-o-backface-visibility: hidden;
-o-transition: -o-transform .3s linear;
	-ms-transform: rotateY(-180deg);
	-ms-transform-style: preserve-3d;
	-ms-backface-visibility: hidden;
-ms-transition: -ms-transform .3s linear;
}
#j_tslm a:hover .front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}
#j_tslm a:hover .back {
	z-index: 3;
	zoom: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
}

		.box{width:684px;height:223px;position:relative;}
		.pic{width:684px;height:223px;overflow:hidden;}
		.pic ul li{list-style-type:none;width:684px;height:223px;position:relative;overflow:hidden;}
		.pic ul li .img1{position:absolute;left:-684px;top:0px; width:684;height:223;}
		.pic ul li .img2{position:absolute;left:-15px;top:0px;display:none;width:684;height:223;}
		.nave{width:78px;height:14px;position:absolute;bottom:10px;right:10px;}
		.nave ul li{list-style-type:none;width:12px;height:12px;float:left;margin-right:5px;cursor:pointer;
			border:1px solid #fff;}
		.nave ul .bg{background:#ff7300;width:14px;height:14px;border:none;}
		#marquee4 { width:239px;height:166px; overflow:hidden; margin:7px 0 0 0; }
		#marquee4 ul li {float:left; width:239px; height:24px; line-height:24px; background: url(https://ctegoimg.oss-cn-shenzhen.aliyuncs.com/bg/gg_li_bg.gif) repeat-x center bottom;}