<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>My Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/wxstyle.css">
	<script src="../js/jquery-1.11.1.min.js"></script>
	<script src="../js/jquery.mobile-1.4.2.min.js"></script>
	<script src="../js/jquery.validate.js"></script>
	<script src="../js/register.js"></script>



<script>
	var yanzhengOk = true;
	var wait=60; 
function time(o) { 
	if (wait == 0) { 
		o.removeAttribute("disabled");	
		o.value="　  获取验证码"; 
		wait = 60; 
	} else { 
		o.setAttribute("disabled", true); 
		o.value="　  重新发送(" + wait + ")"; 
		wait--; 
		setTimeout(function() { 
		time(o);
	}, 
	1000) 
	} 
} 
var huo = 300;
function timeOutYzm(o) { 
	if (huo == 0) { 
		huo = 300; 
		guoqi();
		checkUMbYzmIsEqual2("验证码超时，请重新输入");
		$("#sms").val("");
	} else { 
		huo--; 
		setTimeout(function() { 
		timeOutYzm(o);
	}, 
	1000) 
	} 
}
	function getPhoneYzm(o){
		if(yanzhengOk){
			var phoneNum = $("#UMb").val();
			if(phoneNum=="" || phoneNum == "请输入手机号码"){
				$("#UMb").val("请输入手机号码");
				isGetYzm = false;
				
			}else{
				$.post("login_savePhoneYzm",{"ctSms.sms":"1111","ctUser.UMb":phoneNum});
				isGetYzm = true;
				//$("#sms").removeAttr("disabled");
				time(o);
				timeOutYzm(o);
				huo = 300;
			}
			
			 
			isGuo = true;
		} else {
		//	$("#yzmtip1").text("请输入验证码");
		}
	}
	//检测手机验证码是否正确
	function checkUMbYzmIsEqual(){
		if(!isGetYzm){
			return;
		}
		var yzm = $("#sms").val();
		if(yzm.length > 0){
			 checkUMbYzmIsEqual2("输入的验证码不对请重新输入");
		}
	}
</script>	

</head>
<body>
<div id="page1" data-role="page">
       <div class="header">
            <div class="container">
                <div class="row">
                    <div class="logo span4">
                        <h1><img src="<%=imgurl %>/ctegosjzc.png"></h1>
                    </div>
                    
                </div>
            </div>
        </div>


        <div class="register-container container" id="container">
            <div class="row">
                
                <div class="register span6">
                    <form id="signupForm" method="post" action="login_wxregister">
                        <h2><span class="red"><strong>注册</strong></span></h2>
                        
<dl class="yhzc">
    <dd><input type="text" id="UMb" name="UMb" placeholder="请输入手机号码"></dd>
                    
    <dd><span class="yhzlleibie"><input type="text" id="yzm" name="yzm" placeholder="手机验证码"></span><span class="yhzlleibie" onclick="getPhoneYzm(this)"><a href="#">发送手机验证码</a></span></dd>                      

    <dd><input type="password" id="UPassword" name="UPassword" placeholder="请输入您的密码"></dd>
    
    <dd><input type="password" id="confirm_UPassword" name="confirm_UPassword" placeholder="再次确认您的密码"></dd>
                     
    <dd><input  type="submit" value="Login"></dd>
</dl> 
<div class="clear"></div>
                    </form>
                </div>
            </div>
        </div>
<div class="footer">长亭易购 版权所有<br/>©2014-2015 CTEGO CORPORATION All Rights Reserved.</div>
<script>
$( "#page1" ).on( "pageinit", function() {
	$( "form" ).validate({
		rules: {
			UMb: {
				required: true,
				minlength: 11
			},
			yzm: {
				required: true,
			},
			UPassword: {
				required: true,
				minlength: 5
			},
			confirm_UPassword: {
				required: true,
				minlength: 5,
				equalTo: "#UPassword"
			}
		},
		
		messages: {
				yzm: "请输入验证码",
				UMb: {
					required: "请输入手机号码",
					minlength: "手机号码必须是11位"
				},
				yzm: {
					required: "请输入验证码",
				},
				UPassword: {
					required: "请输入密码",
					minlength: "密码必须大于5位"
				},
				confirm_UPassword: {
					required: "请再次输入密码",
					minlength: "密码必须大于5位",
					equalTo: "请输入相同的密码"
				}
			}
	});
});
</script>
</body>
</html>
